<article class="left-div no-borser position-rel">
	<i ng-bind="edit_status" class="i-title top-26px">采集设置</i>
	<div class="cont-bottom border no-position bg-color">
		<div class="every-attr border-bottom">
			<p class="every-attr">
				<label class="attr-label">任务名称</label>
				<input type="text" id="t_name" class="attr-input" autocomplete="off" ng-model="model.task_name">
			</p>
			<p class="every-attr">
				<label class="attr-label">任务说明</label>
				<textarea class="input-text attr-input" type="text" id="t_desc" autocomplete="off" ng-model="model.task_desc"></textarea>
		</div>
		</p>
		<div class="every-attr" ng-controller="camappGroupList">
			<label class="attr-label">摄像机业务组:</label>
			<select style="" id="group_id" ng-model="model.group_id" class="attr-input">
				<option ng-repeat="group in camappGroups" value="{{group['id']}}">{{group["name"]}}</option>
			</select>
		</div>
		<div class="every-attr">
			<label class="attr-label">开始时间</label>
			<div class="put-2 attr-data">
				<input id="cap_start_time" autocomplete="off" def-laydate placeholder="" class="laydate-icon input-font attr-input attr-input-data"
					onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" ng-model="model.startTime">
				<img class="daytime-icon data-icon" src="img/daytime.png" alt="" onclick="cap_start_time.click();"/>
			</div>
		</div>
		<div class="every-attr">
			<label class="attr-label">结束时间</label>
			<div class="put-3 attr-data">
				<input id="cap_stop_time" autocomplete="off" placeholder="" class="laydate-icon input-font attr-input attr-input-data"
					onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" ng-model="model.endTime">
				<img class="daytime-icon data-icon" src="img/daytime.png" alt="" onclick="cap_stop_time.click();"/>
			</div>
		</div>

		<p class="every-attr">
			<label class="attr-label"></label>
			<input type="checkbox" ng-model="model.forever" ng-checked="model.forever==true" id="id_forever"/>
			<label for="id_forever">永久采集</label>
		</p>
		<p class="every-attr btn-group">
			<button type="button" class="actBtn btn" ng-click="updateCaptureTask(model)">{{routerStr}}</button>
			<button type="button" class="actBtn btn" ng-click="startCapture()">开始采集</button>
			<button type="button" class="actBtn btn" ng-click="stopCapture()">停止采集</button>
			<a class="actBtn btn" href="#/app/capture/{{model.task_id}}/view" style="font-size:10px;text-align:center;display: flex;justify-content: center;align-items: center;">查看采集结果</a>
		</p>
		<div class="twoo-right" ng-bind="taskStatus">{{ taskStatus }}</div>
		<!--<div class="btn_2 border-top every-attr btn-group" style="position:absolute;bottom:40px;left:0;padding-left:0;">
			<p class="every-attr">
				<a href="#/app/capture/{{model.task_id}}/view" class="btn" style="">查看任务状态</a>
			</p>
		</div>-->
	</div>
</article>
