<article class="left-div no-borser position-rel" ng-controller="captureViewCtrl">
	<nav class="title" ng-bind="title">实时采集照片</nav>
    <div id="refresh-div" class="capture-refresh">
        <span ng-class="{'coin-red':!running,'coin-green':running}" class="coin"></span>
        <button class="actBtn btn-act" ng-click="startCapture()">开始任务</button>
        <button class="actBtn btn-act" ng-click="stopCapture()">停止任务</button>
        <button class="actBtn btn-act" ng-click="toggleRefreshCaptureResult()">{{conf.refresh ? "停止刷新结果":"开启刷新结果"}}</button>
        <!--<button class="actBtn" ng-click="toggleRefreshCaptureResult(model.task_id)">停止刷新</button>-->
        <img class="active-img" style="display: none" src="img/animate.gif" alt=""/>
        <img class="active-img-right" style="display: block" src="img/animate.png" alt=""/>
    </div>
	<div class="cont-bottom border" style="padding-top:82px;">
    	<div class="photo photo-now">
    		<h2 class="photo-title border-bottom">正在采集的照片</h2>
            <div class="photo-div">
                <ul >
                    <li class="clearfix" ng-repeat="seq in image_seqence ">
                        <img ng-src="{{ seq.file}} " />
                        <p>{{ seq.ts }}</p>
                        <p>{{ seq.camera }}</p>
                    </li>
                </ul>
            </div>
    	</div>
    	<div class="photo photo-history">
            <h2 class="photo-title border-bottom">实时采集的历史照片</h2>
            <div class="photo-div">
        		<ul>
        			<li class="clearfix" ng-repeat="seq in viewCaptureTasks ">
        				<img ng-src="{{ seq.file}} " />
                        <p>{{ seq.ts }}</p>
                        <p>{{seq.camera}}</p>
        			</li>
        		</ul>
            </div>
            <div class="bg-page cont-page">
                <div class="page page-main">
                    <div class="w-8"><a href="" ng-click="gotoFirst()">首页</a></div>
                    <div class="w-8"><a href="" ng-click="gotoPrev()">上一页</a></div>
                    <div class="w-8"><a href="">{{ pager.page }} / {{ pager.pages }}</a></div>
                    <div class="w-8"><a href="" ng-click="gotoNext()">下一页</a></div>
                    <div class="w-8"><a href="" ng-click="gotoTail()">尾页</a></div>
                    <div class="w-26">
                        <span>每页显示</span>
                        <input class="pagination" autocomplete="off" ng-model="pager.page_size"/>
                        <span>项,</span>
                    </div>
                    <div class="w-26">
                        <span>转到</span>
                        <input class="pagination" autocomplete="off" ng-model="pager.page"/>
                        <span>页</span>
                    </div>
                    <div class="page-end w-8"><a href="" ng-click="goto()">确定</a></div>
                </div>
            </div>
    	</div>
    	
	</div>

</article>