<article class="left-div no-borser position-rel">
	<span class="span-title top-26px">
		<i>查看任务详情{{task_name}}</i>
	</span>
	<div class="div-active refresh-div position" id="refresh-div">
		<span ng-class="{'coin-red':!running,'coin-green':running}" class="coin fl"></span>
		<button class="button-active refresh-btn" ng-click="toggleRefreshSearchResult()" style="float: left!important;">{{ conf.refresh ? "停止刷新结果":"开启刷新结果"
			}}</button>
		<img class="active-img" style="display: none" src="img/animate.gif" alt=""/>
		<img class="active-img-right" style="display: block" src="img/animate.png" alt=""/>
	</div>
	<aside class="map_1 cont-2 cont-bottom border no-position bg-color" style="padding-top:55px;">
		<div class="cont-table">
			<table class="table table_2" style="border:none;padding-top:15px;">
				<tr class="title1 title">
					<th class="tasklist-check-col">序号</th>
					<th>目标图片</th>
					<th ng-click="checkout('ts-asc',1)" ng-show="haveimage">比对图片</th>
					<th ng-click="checkout('similarity',2)" ng-show="haveimage">相似度</th>
					<th ng-show="haveimage">目标信息</th>
					<th>抓拍时间</th>
					<th>摄像机名称</th>
					<th>视频信息</th>
					<th>操作</th>
				</tr>
				<tr ng-repeat="seq in image_seqence">
					<td>{{ pager.page_size * (pager.page - 1) + $index + 1 }}</td>
					<td ng-show="haveimage"><img style="width:80px;height:80px;" src="{{ seq.src_image }}"/></td>
					<td><img style="width:80px;height:80px;" src="{{ seq.cam_file }}" /></td>
					<td ng-show="haveimage">{{ seq.similarity }}</td>
					<td ng-show="haveimage">
						<p>
							<span>{{seq.name}}</span><span ng-show="seq.name">/</span>
							<span>{{seq.nation}}</span><span ng-show="seq.nation">/</span>
							<span>{{seq.age}}</span><span ng-show="seq.age">岁/</span><br/>
							<span>{{seq.identity_id}}</span>
						</p>
					</td>
					<td>{{ seq.ts }}</td>
					<td>{{ seq.camera }}</td>
					<td>
						<!--<video ng-show="visible" ng-click="modal();" style="width:80px;height:80px;" src="{{ seq.cam_video_file }}"-->
						<!--controls="controls">-->
						<!--</video>-->
						{{seq.cam_video_file_name}}
					</td>
					<td>
						<!-- <div class="lianjie-2 lianjie-button clearfix"> -->
						<!-- <button type="button" class="fl" ng-click="toggle()">查看</button> -->
						<!--<button type="button" class="btn-onload" ng-click="download(seq.cid, seq.ts)">下载</button>-->
						<button ng-click="playVideo(seq);" style="display:block" class="btn-onload">播放</button>
						<!-- </div> -->
					</td>
				</tr>
			</table>
		</div>

	</aside>
	<div class="bg-page cont-page">
		<div class="page page-main">
			<div class="w-8"><a href="" ng-click="gotoFirst()">首页</a></div>
			<div class="w-8"><a href="" ng-click="gotoPrev()">上一页</a></div>
			<div class="w-8"><a href="">{{ pager.page }} / {{ pager.pages }}</a></div>
			<div class="w-8"><a href="" ng-click="gotoNext()">下一页</a></div>
			<div class="w-8"><a href="" ng-click="gotoTail()">尾页</a></div>
			<div class="w-26">
				<span>每页显示</span>
				<input class="pagination" autocomplete="off" ng-model="pager.page_size"/>
				<span>项,</span>
			</div>
			<div class="w-26">
				<span>转到</span>
				<input class="pagination" autocomplete="off" ng-model="pager.page"/>
				<span>页</span>
			</div>
			<div class="page-end w-8"><a href="" ng-click="goto()">确定</a></div>
		</div>
	</div>
	<div class="rtspVideo" id="rtspVideo">
		<p>
			<span class="rtspVideoTitle">摄像机的视频 </span>
			<a class="rtspVideoColse" ng-click="rtspVideoColse();">×</a>
		</p>

		<!--[if IE]>
		<object type='application/x-vlc-plugin' id='vlc' events='True'
				classid='clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921'
				codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab">
			<param name='mrl' value='http://g3.ykimg.com/0130391F455321692EC42C1496BCB33029ABCB-A4FF
			-A71D-EC9C-063ED7327684'  />
			<param name='autoplay' value='true' />
		</object>
		<![endif]-->
		<!--[if !IE]><!-->
		<object type='application/x-vlc-plugin' id='vlc1' events='True'
				pluginspage="http://www.videolan.org" codebase="http://downloads.videolan.org/pub/videolan/vlc-webplugins/2.0.6/npapi-vlc-2.0.6.tar.xz">
			<!--<param name='mrl' value='{{camera.stream}}' id="vlc_mrl"/>-->
			<!--<param name="mrl" value="{{video_url}}"/>-->
			<param name="autoplay" value="true" />
		</object>
		<!--<![endif]-->
	</div>

	<div class="modals" id="modal-div">
		<div class="modal-dialog nvrFlvPlayer">
			<div class="modal-content">
				<div class="modal-header">
					<span data-dismiss="modal" ng-click="myClose();" class="close">&times;</span>
					<h4>当前摄像机视频</h4>
				</div>
				<div class="modal-body">
					<!--<object type='application/x-vlc-plugin' id='vlc2' width="100%" height="90%" events='True'
							pluginspage="http://www.videolan.org" codebase="http://downloads.videolan.org/pub/videolan/vlc-webplugins/2.0.6/npapi-vlc-2.0.6.tar.xz">
						&lt;!&ndash;<param name='mrl' value='{{camera.stream}}' id="vlc_mrl"/>&ndash;&gt;
						&lt;!&ndash;<param name="mrl" value="{{video_url}}"/>&ndash;&gt;
						&lt;!&ndash;<param name="autoplay" value="true" />&ndash;&gt;
					</object>-->
					<embed type = "application/x-vlc-plugin" id='vlc2' width="100%" height="100%" url=""  pluginspage = "http://www.videolan.org"/>
					<!--<button ng-click="fp_setSlide()"  >测试设置播放进度（默认10）</button>-->
					<!--<button ng-click="fp_alertTotalTime()"  >获得播放总时间</button>-->
				</div>
			</div>
		</div>
	</div>
</article>