<article class="left-div no-borser position-rel">
	<span class="span-title top-26px">
		<i>查看任务详情{{task_name}}</i>
	</span>
	<!--<i class="i-title top-26px">查看任务详情</i>-->
	<div class="cont cont-bottom border no-position bg-color">
		<div class="cont-3 cont-aside fl search-left" style="position:relative;">
			<div class="div-little refresh-div-position" id="refresh-div">
				<span ng-class="{'coin-red':!running,'coin-green':running}" class="coin"></span>
				<button class="actBtn btn-act" ng-click="startMonitor()">开始任务</button>
				<button class="actBtn btn-act" ng-click="stopMonitor()">停止任务</button>
				<button class="actBtn btn-act" ng-click="toggleRefreshMonitorResult()">{{conf.refresh ? "停止刷新结果":"开启刷新结果"}}</button>
				<!--<button class="actBtn btn-act" ng-click="toggleRefreshMonitorResult()">停止刷新</button>-->
				<img class="active-img" style="display: none" src="img/animate.gif" alt=""/>
				<img class="active-img-right" style="display: block" src="img/animate.png" alt=""/>
			</div>
			<div class="table-slide" style="">
				<table class="little_table left-table">
					<tr class="one_line">
						<th>相似度</th>
						<th>目标照片</th>
						<th>采集照片</th>
						<th>摄像机名称</th>
						<th>抓拍时间</th>
					</tr>
					<tr ng-repeat="seq in image_seqence">
						<td>{{seq.similarity}}</td>
						<td>
							<img ng-src="{{seq.url_target_image}}" style="width:80px;height:80px;"/>
						</td>
						<td class="little_photo">
							<img ng-src="{{seq.url_monitor_image}}" style="width:80px;height:80px;"/>
						</td>
						<td>{{seq.camera}}</td>
						<td>{{seq.mon_cap_time}}</td>
					</tr>
				</table>
			</div>
		</div>
		<aside class="side fr clearfix search-right position-rel">
			<div class="overflow-auto-div">
				<table class="little_table table-right">
					<tr class="one_line">
						<td>相似度</td>
						<td>目标照片</td>
						<td>采集照片</td>
						<td>摄像机名称</td>
						<td>抓拍时间</td>
						<td>目标信息</td>
					</tr>
					<tr ng-repeat="seq in viewMonitorLists" ng-click="openMonitorDialogBox(seq)">
						<td>{{seq.similarity}}</td>
						<td class="position-rel">
							<img ng-src="{{seq.url_target_image}}" style="width:80px;height:80px;"/>
						</td>
						<td class="little_photo position-rel">
							<img ng-src="{{seq.url_monitor_image}}" style="width:80px;height:80px;"/>
						</td>
						<td>{{seq.camera}}</td>
						<td>{{seq.mon_cap_time}}</td>
						<td>
							<div>
								<span>{{seq.name}}</span>
								<span>{{seq.sex}}</span>
								<span>{{seq.age}}</span>
								<span>{{seq.nation}}</span><br/><br/>
								<span>{{seq.identity_id}}</span>
							</div>
						</td>
					</tr>
				</table>
				<div class="show-pic-div" id="show-pic-div">
					<div style="display: flex;justify-content: center;align-items: center;">
						<img src="" id="target-image" class="target-image" style="margin-right:10px;"/>
						<img src="" id="monitor-image" class="monitor-image" />
					</div>
				</div>
			</div>
			<!-- 布控弹出框 -->
			<div class="monitor-dialog-box" id="monitor-dialog-box" style="" ng-show="showDialogBox">
				<h2 class="monitor-dialog-title" id="monitor-dialog-title">实时采集图片详情</h2>
				<div class="monitor-dialog-content">
					<div class="monitor-dialog-content-left fl">
						<ul class="max-pic-div" id="max-pic-div">
							<li ng-class="{current:tabStatus[0]==1}">
								<div class="fl max-pic position-rel" style="border-right:2px solid #09314b;">
									<p class="pic-title">当前目标图片</p>
									<img ng-src="{{monitorEntity.url_target_image}}" alt="" />
								</div>
								<div class="fr max-pic position-rel">
									<p class="pic-title">采集图片</p>
									<img ng-src="{{monitorEntity.url_monitor_image}}" alt="" />
								</div>
							</li>
							<li ng-class="{current:tabStatus[1]==1}">
								<div class="fl max-pic w-800px position-rel" >
									<p class="pic-title">全景图片:<a ng-href="{{monitorEntity.max_pic_url}}" target="_blank" style="overflow:hidden;color:#fff;">{{monitorEntity.max_pic_name}}</a></p>
									<a ng-href="{{monitorEntity.max_pic_url}}" target="_blank" style="overflow:hidden;">
										<img ng-src="{{monitorEntity.max_pic_url}}" alt="" width="800px" height="400px" ng-if="monitorEntity.max_pic_url==undefined?false:true"/>
										<img class="active-img-right" style="display: block" src="img/animate.gif" alt="" ng-if="monitorEntity.max_pic_load"/>
										<p ng-if="monitorEntity.max_pic_error" style="color:red;">下载失败!</p>
									</a>
								</div>
							</li>
							<li ng-class="{current:tabStatus[2]==1}">
								<div class="fl max-pic w-800px position-rel" >
									<div style="width:100%;height:100%;">
										<!--[if IE]>
										<![endif]-->

										<!--[if !IE]><!-->
										<object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab"
												id="vlcPlayer" width="100%" height="90%" type="application/x-vlc-plugin">
											<param name='mrl' value='{{video_url}}' id="vlc_mrl"/>
											<param name="autoplay" value="false" />
											<param name="loop" value="false" />
											<embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" width="802" height="360" name="vlcPlayer"
												   src="" id="vlcEmbed" autoplay="false"/>
										</object>
										<!--<![endif]-->
										<p>
											<button class="playBtn" ng-click="fp_play()">播放</button>
											<button class="playBtn" ng-click="fp_pause()">暂停</button>
											<button class="playBtn" ng-click="fp_continue()">继续播放</button>
											<button class="playBtn" ng-click="fp_stop()">停止</button>
											<span style="display:inline-block; padding-left: 255px; font-size:14px; color: #ccc" ng-show="inputState!=3">视频加载或有延迟，请稍候</span>
										</p>
									</div>
								</div>
							</li>
						</ul>
						<ul class="min-pic-div" id="min-pic-div">
							<li class="position-rel" ng-click="changeTab(0)">
								<section class="img-container">
									<img ng-src="{{monitorEntity.url_monitor_image}}" alt=""/>
								</section>
								<p>采集照片</p>
								<div ng-class="{current:tabStatus[0]==1}"></div>
							</li>
							<li class="position-rel" ng-click="changeTab(1)">
								<section class="img-container">
									<img ng-src="{{monitorEntity.max_pic_url}}" alt="" ng-if="monitorEntity.max_pic_url==undefined?false:true"/>
									<img style="display: block" src="img/animate1.gif" alt="" ng-if="monitorEntity.max_pic_url==undefined?true:flase"/>
								</section>
								<p>
									<a ng-href="{{monitorEntity.max_pic_url}}" target="_blank" title="{{monitorEntity.max_pic_url}}">全景照片{{scene_size}}</a>
								</p>
								<div ng-class="{current:tabStatus[1]==1}"></div>
							</li>
							<li class="no-right-border position-rel video-bg" ng-click="videoTab()">
								<section class="img-container">
									<img ng-src="{{monitorEntity.url_monitor_image}}" alt="" />
								</section>
								<p>
									<a ng-href="{{video_url}}" target="_blank" title="{{video_url}}">视频片段{{video_size}}</a>
								</p>
								<div ng-class="{current:tabStatus[2]==1}">
									<div class="progress" ng-show="isProgressBar">
										<p>
											{{progressMes}}
											<span class="progress-bar" ng-style="progressStyle"></span>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="monitor-dialog-content-right fr">
						<div class="dialog-content-top">
							<div class="dialog-camera-info">
								<p class="p-style"><em>摄像机名称:</em><a href="#/dev/camera/{{monitorEntity.camera_id}}/info">{{monitorEntity.camera}}</a></p>
								<p class="p-style"><em>抓拍时间:</em>{{monitorEntity.mon_cap_time}}</p>
								<p class="p-style bold"><em>相似度:</em>{{monitorEntity.similarity}}</p>
							</div>
							<div class="dialog-user-info">
								<span class="span-style"><em>姓名：</em>{{monitorEntity.name}}</span>
								<span class="span-style"><em>年龄：</em>{{monitorEntity.age}}</span>
								<span class="span-style"><em>性别：</em>{{monitorEntity.sex}}</span>
								<span class="span-style"><em>民族：</em>{{monitorEntity.nation}}</span>
								<span class="span-style"><em>宗教信仰：</em>{{monitorEntity.religion}}</span>
								<p class="p-style">
									<em>身份证号:</em>
									<span style="font-size: 12.7px">{{monitorEntity.identity_id}}</span>
								</p>
								<p class="p-style"><em>地址:</em>{{monitorEntity.address}}</p>
							</div>
							<div class="dialog-task-info">
								<p class="p-style"><em>任务名称:</em><a href="#/app/monitor/{{monitorEntity.task_id}}/info">{{monitorEntity.task_name}}</a></p>
								<p class="p-style"><em>备注:</em>{{monitorEntity.task_desc}}</p>
							</div>
						</div>
						<div class="dialog-content-bottom">
							<a class="dialog-save">保存</a>
							<a class="dialog-close" ng-click="closeMonitorDialogBox()">关闭</a>
						</div>
					</div>
				</div>
			</div>
			<!-- 布控弹出框 End-->
			<div class="bg-page cont-page">
				<div class="page page-main">
					<div class="w-8"><a href="" ng-click="gotoFirst()">首页</a></div>
					<div class="w-8"><a href="" ng-click="gotoPrev()">上一页</a></div>
					<div class="w-8"><a href="">{{ pager.page }} / {{ pager.pages }}</a></div>
					<div class="w-8"><a href="" ng-click="gotoNext()">下一页</a></div>
					<div class="w-8"><a href="" ng-click="gotoTail()">尾页</a></div>
					<div class="w-26">
						<span>每页显示</span>
						<input class="pagination" autocomplete="off" ng-model="pager.page_size"/>
						<span>项,</span>
					</div>
					<div class="w-26">
						<span>转到</span>
						<input class="pagination" autocomplete="off" ng-model="pager.page"/>
						<span>页</span>
					</div>
					<div class="page-end w-8"><a href="" ng-click="goto()">确定</a></div>
				</div>
			</div>
		</aside>
	</div>
</article>
