<article class="left-div no-borser bg-color cam-group">
    <div class="info-container position-rel border">
        <div class="info-header">
            <div class="info-title">
                <i class="newly-icon"></i>
                新建摄像机组
            </div>
        </div>
        <div class="info-content">
            <div class="cam-seek high-light-shadow">
                <div class="seek-content">
                    <div class="edit-attr">
                        <div class="edit-attr">
                            <p>名称</p>
                            <input type="text" class="edit-input" ng-model="model.name">
                        </div>
                        <div class="edit-attr">
                            <p>说明</p>
                            <input type="text" class="edit-input" ng-model="model.desc">
                        </div>
                    </div>
                    <div class="member-list">
                        <div class="member-header edit-attr">
                            <div class="clearfix">
                                <p class="fl">请选择组成员:</p>
                                <div class="edit-search fr">
                                    <input class="edit-search-input fl" type="text" ng-model="cameraSearch" placeholder="请输入摄像机名称搜索" ng-change="searchAllCameraByName()">
                                    <button class="edit-search-btn fl" ng-click="searchAllCameraByName()"></button>
                                </div>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <ul class="member-select" ng-controller="cameraList" id="idCameraGroupList">
                                <li ng-repeat="c in cameras">
                                    <label class="check-label" for="{{'cam_'+$index}}">
                                        <div>
                                            <input type="checkbox" ng-checked="isCheckedAll" id="{{'cam_'+$index}}" class="check" name="cameraItem" value="{{c.cid}}" data-cname="{{c.cameraName}}">
                                            {{c.cameraName}}
                                        </div>
                                    </label>
                                </li>
                            </ul>
                            <div class="member-footer">
                                <span class="check-all">
                                    <label class="check-label"><input type="checkbox" class="check" ng-click="CheckedAll()">全选</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <span class="keep-btn" ng-click="addConfigGroup()">
                            <i></i>确定
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>


</article>