
<article ng-controller="logicGroupListCtrl" class="left-div no-borser position-rel">
	<div class="cont-1 cont-top">
		<a href="#/app/logicgroup/new"><i></i>新建</a>
		<button ng-click="removeCameraGroupRels()"><i></i>删除</button>
		<input class="fr" ng-model="searchName" type="text" id="g_name" placeholder="请输入业务逻辑组名称查询" ng-keydown="keyDown($event)">
		<button class="suosou" ng-click="getSearchList()">搜索</button>
	</div>
	<div class="cont-2 cont-bottom">
		<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize class="grid" style="width:100%; height:100%;"></div>
	</div>
</article>
