<header>
	<nav class="clearfix">
		<div class="logo_in fl">
			<img src="img/logo.png" alt="" />
			<p class="login_title">联深泰布控系统</p>
		</div>
		<ul class="nav">
			<li ng-class="{selected:selecteIndex==0}"><a ui-sref="dashboard"><i></i>仪表盘</a></li>
			<li ng-class="{selected:selecteIndex==1}"><a ui-sref="app"><i></i>任务管理</a></li>
			<!--<li><a href="#"><i></i>高级检索</a></li>-->
			<!--<li><a href="#"><i></i>报警详情</a></li>-->
			<li ng-class="{selected:selecteIndex==2}"><a ui-sref="dev"><i></i>摄像机管理</a></li>
			<li ng-class="{selected:selecteIndex==3}"><a ui-sref="setting"><i></i>控制器管理</a></li>
		</ul>
		<div class="offside fr">
			<p style="" class="offside-flet fl">
				<label for="audioCB" style="width:80px;height:16px;display:inline-block">
					<input id="audioCB" type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="btnGroup.audioBtn" ng-click="audioBtnFun()"/>告警声音{{audioBtn}} 
				</label>
				<br>
				<label for="alarmCB" style="width:80px;height:16px;display:inline-block">
					<input id="alarmCB" type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="btnGroup.alarmBtn" ng-click="alarmBtnFun()"/>告警通道
				</label>
			</p>
			<div class="offside-flet fl" id="no-alarm">
				<a href="" ui-sref='setting.alarm' style="color:#e2f7ff;">
					<i></i>
					<span>无报警</span>
				</a>
			</div>
			<div class="offside-flet fl alarm-active" id="alarm-come" style="display:none;" >
				<a href="" ui-sref='setting.alarm' ng-click="closeAduio();">
					<i></i>
					<em class="alarm-num"></em>
					<span>有报警</span>
				</a>
			</div>
			<div class="offside-right fr">
				<div class="register">
					<i></i>
					<span id="topUserName"></span>
				</div>
				<div class="secede">
					<i></i>
					<a href="login.html"><span style="color:white;font-size: 14px;">退出</span></a>
				</div>
			</div>
		</div>
		<div class="navbar-toggle fr clearfix" ng-controller="toggleCtrl">
			<button class="toggle-btn" id="toggleBtn" ng-click="toggleFun()">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="toggle-div" id="toggle-div">
				<p class="p1"><span>无报警</span></p>
				<p class="p2"><span id="topUserName"></span></p>
				<p><a href="login.html">退出</a></p>
			</div>
		</div>
	</nav>
</header>



