<aside class="fl clearfix leftbar">
	<ul class="max-screen">
		<li class="left-bar-close-btn" ng-click="leftBarClose()"></li>
		<li ng-class="{selected:appTabsIndex==0}"><a ui-sref='app.view'><i class="max-view"></i>查看</a></li>
		<li ng-class="{selected:appTabsIndex==1}"><a ui-sref='app.capture'><i class="max-capture"></i>采集</a></li>
		<li ng-class="{selected:appTabsIndex==2}"><a ui-sref='app.monitor'><i class="max-monitor"></i>布控</a></li>
		<li ng-class="{selected:appTabsIndex==3}"><a ui-sref='app.search'><i class="max-search"></i>目标检索</a></li>
		<li ng-class="{selected:appTabsIndex==4}"><a ui-sref='app.track.map'><i class="max-track"></i>轨迹分析</a></li>
		<!--<li ng-class="{selected:appTabsIndex==5}"><a ui-sref='app.timeline'><i class="max-timeline"></i>时间分析</a></li>-->
		<li ng-class="{selected:appTabsIndex==6}"><a ui-sref='app.logicgroup'><i class="max-logicgroup"></i>业务逻辑组</a></li>
		<li ng-class="{selected:appTabsIndex==7}"><a ui-sref='app.monitorManage'><i class="max-monitor-manage"></i>布控库管理</a></li>
	</ul>
	<ul class="min-screen">
		<li class="left-bar-open-btn" ng-click="leftBarOpen()"></li>
		<li ng-class="{selected:appTabsIndex==0}"><a ui-sref='app.view' class="min-view"></a></li>
		<li ng-class="{selected:appTabsIndex==1}"><a ui-sref='app.capture' class="min-capture"></a></li>
		<li ng-class="{selected:appTabsIndex==2}"><a ui-sref='app.monitor' class="min-monitor"></a></li>
		<li ng-class="{selected:appTabsIndex==3}"><a ui-sref='app.search' class="min-search"></a></li>
		<li ng-class="{selected:appTabsIndex==4}"><a ui-sref='app.track.map' class="min-track"></a></li>
		<!--<li ng-class="{selected:appTabsIndex==5}"><a ui-sref='app.timeline' class="min-timeline"></a></li>-->
		<li ng-class="{selected:appTabsIndex==6}"><a ui-sref='app.logicgroup' class="min-logicgroup"></a></li>
		<li ng-class="{selected:appTabsIndex==7}"><a ui-sref='app.monitorManage' class="mix-monitor-manage"></a></li>
	</ul>
</aside>