<aside class="fl clearfix leftbar">
	<ul class="max-screen">
		<li class="left-bar-close-btn" ng-click="leftBarClose()"></li>
		<li ng-class="{selected:settingTabsIndex==0}"><a ui-sref='setting.user'><i class="max-user"></i>用户/角色</a></li>
		<li ng-class="{selected:settingTabsIndex==1}"><a ui-sref='setting.role'><i class="max-role"></i>用户组</a></li>
		<li ng-class="{selected:settingTabsIndex==2}"><a ui-sref='setting.logmanage'><i class="max-logmanage"></i>日志管理</a></li>
		<li ng-class="{selected:settingTabsIndex==3}"><a ui-sref='setting.alarm'><i class="max-alarm"></i>报警管理</a></li>
		<li ng-class="{selected:settingTabsIndex==4}"><a ui-sref='setting.clusterstorage'><i class="max-clusterstorage"></i>集群存储管理</a></li>
	</ul>
	<ul class="min-screen">
		<li class="left-bar-open-btn" ng-click="leftBarOpen()"></li>
		<li ng-class="{selected:settingTabsIndex==0}"><a ui-sref='setting.user' class="min-user"></a></li>
		<li ng-class="{selected:settingTabsIndex==1}"><a ui-sref='setting.role' class="min-role"></a></li>
		<li ng-class="{selected:settingTabsIndex==2}"><a ui-sref='setting.logmanage' class="min-logmanage"></a></li>
		<li ng-class="{selected:settingTabsIndex==3}"><a ui-sref='setting.alarm' class="min-alarm"></a></li>
		<li ng-class="{selected:settingTabsIndex==4}"><a ui-sref='setting.clusterstorage' class="min-clusterstorage"></a></li>
	</ul>
</aside>
