<article class="left-div no-borser position-rel">
		<i class="i-title top-26px">新建用户信息</i>
		<div class="cont cont-bottom border no-position bg-color">
			<div class="line"></div>
			<div class="seek put put-info">
				<form class="infoPageGroup form-table" name="userForm">
					<p class="every-attr">
						<label class="attr-label">用户名</label>
						<input class="attr-input" type="text" id="user_name" ng-model="model.user_name"><!-- editInput edit-input -->
					</p>
					<p class="every-attr">
						<label class="attr-label">用户名全称</label>
						<input class="attr-input" type="text" id="u_name" ng-model="model.u_name" maxlength="7">
					</p>
					<p class="every-attr">
						<label class="attr-label">密码</label>
						<input class="attr-input" type="password" id="u_passwd" ng-model="password.first_passwd">
					</p>
					<p class="every-attr">
						<label class="attr-label">确认密码</label>
						<input class="attr-input" type="password" id="confirm_passwd" ng-model="password.confirm_passwd">
					</p>
					<p class="every-attr">
						<label class="attr-label">年龄</label>
						<input class="attr-input" type="text" id="u_age" ng-model="model.u_age" maxlength="2">
					</p>
					<p class="every-attr">	
						<label class="attr-label">手机号</label>
						<input class="attr-input" type="text" id="u_phone" ng-model="model.u_phone" maxlength="11">
					</p>
					<p class="every-attr">
						<label class="attr-label">地址</label>
						<input class="attr-input" type="text" id="u_address" ng-model="model.u_address">
					</p>
					<p class="every-attr">
						<label class="attr-label">添加组</label>
						<select class="select-left attr-input" id="role_id" ng-model="model.role_id" ng-options="role.role_id as role.role_name for role in allroles"></select>
					</p>
					<p class="every-attr btn-group paddingL-29">
						<button class="actBtn btn" type="button" ng-click="addUser()">保存</button>
					</p>
					<!-- <button class="actBtn" type="button" ng-click="updUserRole()">移组</button> -->
				</form>
			</div>

		</div>
</article>
