<article class="left-div no-borser position-rel">
	<div class="cont-1 cont-top">
		<a href="#/setting/user/new"><i></i>新建</a>
		<button ng-click="removeUser()"><i></i>删除</button>
		<input class="fr" type="text" id="user_name" ng-model="searchWord" placeholder="请输入用户名查询" ng-keydown="keyDown($event)">
		<button class="suosou" ng-click="SearchUser()">搜索</button>
	</div>
	<div class="cont-2 cont-bottom ">
		<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize class="grid" style="width:100%; height:100%;"></div>
	</div>
</article>