<article class="left-div no-borser position-rel">
		<i class="i-title top-26px">编辑用户组信息</i>
		<div class="cont cont-bottom border no-position bg-color">
			<div class="line"></div>
			<div class="seek put put-info">
				<form>
					<p class="every-attr">
						<label class="attr-label">名称</label>
						<input class="attr-input" type="text" id="role_name" ng-model="model.name">
					</p >
					<p class="every-attr">
						<label class="attr-label">说明</label>
						<input class="attr-input" type="text" id="role_remark" ng-model="model.desc">
					</p>
					<div class="div-role every-attr">
						<label class="attr-label">添加权限模块</label>
						<select class="select attr-input" id="modList" ng-model="selectedOption"
						        ng-options="m.name for m in meta_rights_modules">
						</select>
						<button class="actBtn" type="button" ng-click='addRoleRightsToList()'>添加到列表</button>
					</div>
					
				</form>
				<br/>
				<form class="infoPageGroup">
					<table style="margin-left:15%;">
						<tr class="table-row">
							<th class="table-col">模块</th>
							<th class="table-col">查看</th>
							<th class="table-col">新建与编辑</th>
							<th class="table-col">操作</th>
						</tr>
						<tr class="table-row" ng-repeat="r in model.rights">
							<td class="table-col"  ng-bind="r.name"></td>
							<td class="table-col rights" ng-click="isCheckedItem(r,'read')">
								<input type="checkbox" ng-checked="r.read"/>
							</td>
							<td  class="table-col rights" ng-click="isCheckedItem(r,'write')">
								<input type="checkbox" ng-checked="r.write"/>
							</td>
							<td class="table-col rights" ng-click="isCheckedItem(r,'exec')">
								<input type="checkbox" ng-checked="r.exec"/>
							</td>
						</tr>
					</table>
					<p class="every-attr btn-group paddingL-29">
						<button class="actBtn btn" type="button" ng-click='updateRole()'>修改用户组</button>
					</p>
				</form>
				<br/>
			</div>
		</div>
</article>

