.container {
	/* width: 95%; */
	height: 860px;
}

.container aside {
	width: 100%;
    height: 800px;
    font-size: 18px;
}
.container aside div button:hover {
	background: #2196f7;
}
.container aside div button:active {
	background: #1652cd;
}
.container aside .one {
	width: 100%;
	margin-top: 23px;
	height: 780px;
	background: rgba(2, 49, 71, 0.6);
}

.container aside .one ul {
	height: 800px;
}

.container aside .one ul li {
	width: 100%;
	height: 60px;
	line-height: 60px;
}

.container aside .one ul li a {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
}
.container aside .one ul li a:hover{
	font-weight: bold;
	font-family: "Microsoft YaHei";
}
.container aside .one ul li i {
	margin-left: 28px;
	margin-right: 10px;
	display: inline-block;
	width: 21px;
	height: 18px;
	margin-bottom: -2px;
}

.container aside .one ul li:nth-child(1) i {
	background: url("../img/view.png");
}

.container aside .one ul li:nth-child(2) i {
	background: url("../img/采集.png");
}

.container aside .one ul li:nth-child(3) i {
	background: url("../img/布控.png");
}

.container aside .one ul li:nth-child(4) i {
	background: url("../img/target.png");
}

.container aside .one ul li:nth-child(5) i {
	background: url("../img/track.png");
}

.container aside .one ul li:nth-child(6) i {
	background: url("../img/time.png");
}

.container aside .one ul li:nth-child(7) i {
	background: url("../img/group.png");
}

.container article {
	width: 81%;
	height: 810px;
	position: relative;
}
.container .div-article{
	margin-top: 11px;
}
.sha .side .cont-3 .page-new {
	border: none;
	margin-right: 13px;
	top: 96%;
}

.sha .search-page {
	margin-top: 38px;
	margin-right: 120px;
}

.sha .side .cont-3 .page-new input {
	width: 50px;
}

.sha .side .cont-3 .page-new .page-little {
	width: 50px;
	border-radius: 0;
	z-index: 20;
}
.container article .twoo {
	width: 100%;
	border: 1px solid #1b5a7a;
	margin-top: 26px;
	height: 814px;
	position: relative;
	background: rgba(2, 49, 71, 0.6);
}
.container article .twoo .twoo-right{
	margin-left: 10%;
	border: 1px solid #0d5783;
	display: inline-block;
	min-height: 20%;
	min-width: 20%;
}
.container article .twoo a {
	color: white;
}

.container article .twoo i {
	display: block;
	width: 121px;
	height: 26px;
	background: url(../img/人脸共享-列表_05.png) no-repeat;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	margin-top: -26px;
}

.container article .twoo .btn_2 {
	width: 100%;
	height: 10%;
	border-top: 1px solid #1b5a7a;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(2, 49, 71, 0.6);
}

.container article .twoo .btn_2 button {
	width: 110px;
	height: 30px;
	border: none;
	background: url(../img/按钮.png) no-repeat;
	color: white;
	margin-top: 18px;
	margin-left: 10px;
}

.container article .twoo .two-1 .btn {
	width: 100%;
	height: 50px;
	line-height: 42px;
	border: none;
	border-radius: 0;
}
.twoo-div{
	display: inline-block;
}
.container article .twoo .two-1 .btn .btn1 {
	width: 76px;
	height: 30px;
	border-color: rgba(225, 225, 225, 0);
	color: white;
	font-size: 12px;
	margin-left: 10px;
}

.container article .twoo .two-1 .btn .btn-start {
	background: url(../img/采集_03.png) no-repeat;
}

.container article .twoo .two-1 .btn .btn-end {
	background: url(../img/采集_05.png) no-repeat;
}

.container article .twoo .two-1 ul li {
	width: 90%;
	height: 40px;
	background: #0e6aa0;
	margin: 0 auto;
	border-radius: 3px;
	margin-top: 15px;
	line-height: 40px;
	font-size: 14px;
	position: relative;
}

.container article .twoo .two-1 ul li input {
	margin-left: 10px;
}

.container article .twoo .two-1 ul li p {
	position: absolute;
	top: -3px;
	left: 30px;
}

.container article nav {
	width: 100%;
	height: 26px;
	background: #0d5783;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
}

.container article .one {
	width: 100%;
	height: 804px;
	border: 1px solid #1b5a7a;
	font-size: 12px;
	background: rgba(2, 49, 71, 0.6);
	box-sizing: border-box;
}

.container article .one a {
	color: white;
}

.container article .one .photo {
	width: 100%;
	margin-left: 10px;
	margin-top: 8px;
	height: 728px;
}
.container article .one .photo button:hover{
	background: #1095fe;
	border: 1px solid #2196f7;
}
.container article .one .photo button:active{
	background: #0c556f;
}
.container article .one .photo .div-hr{
	border: 1px solid #0d5783;
	margin-left: -11px;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #0d5783;
}
.container article .one .photo .photo-1 {
	 width: 100%;
	 height: 300px;
	 display: inline-block;
	 border: 1px solid #0d5783;
	 margin-left: -11px;
	 overflow-y: scroll;

 }
.container article .one .photo .photo-1 ul li div{
	text-align: center;
	background: rgb(25,59,88);
}
.container article .one .photo .photo-1 ul li {
	display: inline-block;
	margin-left: 10px;
	width: 100px;
	border: 1px solid #0d5783;
	border-radius: 5px;
}
.container article .one .photo .photo-1 ul li img{
	width: 100px;
	height: 120px;
}
.container article .one .photo .photo-2 {
	 width: 100%;
	 height: 330px;
	 display: inline-block;
	 border: 1px solid #0d5783;
	 margin-left: -11px;
	 overflow-y: scroll;
 }
.container article .one .photo .photo-2 ul li div{
	text-align: center;
	background: rgb(25,59,88);
}
.container article .one .photo .photo-2 ul li {
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	width: 100px;
	border: 1px solid #0d5783;
	border-radius: 5px;
}
.container article .one .photo .photo-2 ul li img{
	width: 100px;
	height: 120px;
}
.container article .one .photo .three {
	display: inline-block;
	width: 33%;
	margin-top: 50px;
	font-size: 0;
}

.container article .one .photo .three span {
	display: inline-block;
	margin-top: 20px;
	font-size: 14px;
	line-height: 20px;
}

.container article .one .foot {
	width: 100%;
	line-height: 50px;
}

.container article .one .foot .btn {
	margin-left: 10px;
	width: 110px;
	height: 30px;
	background: url("../img/按钮.png");
	border: none;
	color: white;
	margin-top: 1.2vw;
}

.container article .two {
	width: 49%;
	margin-left: 11px;
	height: 814px;
	border: 1px solid #1b5a7a;
	border-left: none;
	background: rgba(2, 49, 71, 0.6);
	overflow-y: scroll;
}

.container article .two ul {
	width: 88%;
	margin: 0 auto;
}

.container article .two ul li {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 12px;
}

.container article .two ul li img {
	width: 100px;
	height: 100px;
}

.container article .two ul li .three span {
	display: inline-block;
	margin-top: 10px;
	line-height: 18px;
}
.container .sha nav {
	text-align: center;
	line-height: 26px;
}

.container .sha .plat {
	font-size: 14px;
	margin-bottom: -15px;
}

.container .sha .plat a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}

.container .sha .plat div {
	display: inline-block;
	width: 110px;
	height: 30px;
	background: url("../img/按钮.png");
	line-height: 28px;
}

.container .sha .plat div i {
	margin-right: 8px;
}

.container .sha .plat .tubiao {
	margin-right: 10px;
}

.container .sha .plat .tubiao i {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../img/图表.png");
	margin-bottom: -2px;
}

.container .sha .plat .ditu i {
	display: inline-block;
	width: 14px;
	height: 16px;
	background: url("../img/map.png");
	margin-bottom: -3px;
}

.container .sha .plat .ditu a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.container .sha article {
	width: 100%;
	height: 620px;
}

.container .sha article nav {
	width: 121px;
	height: 26px;
	background: url("../img/人脸共享-列表_05.png");
}

.container .sha article .cont {
	width: 100%;
	height: 801px;
	border: 1px solid #1b5a7a;
	background: rgba(2, 49, 71, 0.6);
	font-size: 14px;
}

.container .sha article .cont .put {
	width: 92%;
	margin: 26px auto 0;
}
.container .sha article .cont .put  .put_in{
	display: inline-block;
	width: 40%;
	border-right: 1px solid #0d5783;
	height: 775px;
}
.container .sha article .cont .put .in {
	font-size: 14px;
}
.container .sha article .cont .put .div-in_4{
	margin-left: 5px;
}
.container .sha article .cont .put .div-in-4{
	margin-left: 2px;
}
.container .sha article .cont .put .div-in-label .div-label{
	float: left;
	margin-left: 0;
}
.form-group{
	display: inline-block;
	width: 50%;
	border-right: 1px solid #0d5783;
}

.container .sha article .cont .put .in i {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-left: -22px;
	margin-bottom: -5px;
	background: url(../img/日历.png) no-repeat;
}

.container .sha article .cont .put .in div {
	display: inline-block;
	margin-left: 6px;
}

.container .sha article .cont .put .in div input {
	height: 22px;
	width: 165px;
	color: white;
	background: #0d5783;
	border: 1px solid #2196f7;
}

.container .sha article .cont .put .in label {
	display: inline-block;
	width: 60px;
	text-align: right;
}

.container .sha article .cont .put .in .put-1 {
	position: relative;
	width: 180px;
	margin-bottom: 10px;
	margin-left: 8px;
}
.container .sha article .cont .put .in-1 {
	position: relative;
}

.container .sha article .cont .put .in-1 i {
	display: inline-block;
	width: 18px;
	height: 10px;
	margin-left: -28px;
	margin-bottom: -2px;
	background: url(../img/人脸共享-列表_03.png) no-repeat;
}

.container .sha article .cont .put .in-2 {
	margin-bottom: 12px;
}

.container .sha article .cont .put .in-3 {
	margin-bottom: 25px;
	margin-top: 25px;
}
.container .sha article .cont .put .in-4 #t-name{
	margin-left: -3px;
}

.container article .twoo .two-1 .in-4 input {
	margin-left: 10px;
	width: 200px;
	height: 20px;
	background: #0d5783;
	border: 1px solid #2196f7;
	color: #fff;
}
.container article .twoo .two-1 .in_7 input{
	height: 40px;
}
.container article .twoo .two-1 .in-1 {
	margin-left: 14px;
}
.container .sha article .cont .put .in-4 .task-name{
	margin-left: 7px;
}
.container .sha article .cont .put .in-4 input {
	color: #fff;
	margin-left: 10px;
	width: 186px;
	height: 22px;
	background: #0d5783;
	border: 1px solid #2196f7;
	margin-bottom: 12px;
}
.container .sha article .cont .put .in_7 input{
	margin-left: 6px;
	height: 40px;
	margin-bottom: 30px;
}
.container .sha article .cont .put .in-1{
	margin-top: 10px;
	margin-bottom: 10px;
}
.container .sha article .cont .put .in_7{
	border-bottom: 1px solid #0d5783;
	margin-bottom: 15px;
}
.container .sha article .cont .put .in-5 {
	width: 70%;
	margin-bottom: 12px;
	margin-left: 62px;
	margin-top: 20px;
}
.container .sha article .cont .put .search.search-focus{
	margin-left: -11px;
}
.container .sha article .cont .put .search.search-info{
	margin-left: -40px;
}
.container .sha article .cont .put .in-5 button,
.actBtn {
	margin-left: 5px;
	color: white;
	width: 7em;
	height: 3em;
	background: #0d5783;
	border: 1px solid #2196f7;
	margin-top: 8px;
}
.container .sha article .cont .put .in-5 button:hover{
	background: #1095fe;
}
.container .sha article .cont .put .in-5 button:active{
	background: #1652cd;
}
.container .sha article .cont .put .in-5 .actBtn:active{
	background: #1652cd;
}
.container .sha article .cont .put .in-6 input {
	margin-left: 5px;
}

.container .sha article .cont .seek {
	width: 92%;
	margin: 0 auto;
}
.container .sha article .cont .seek-div {
	margin-left: 9%;
}
.container .sha article .cont .seek-1-2{
	width: 90%;
	height: 815px;
}
.container .sha article .cont .seek .btn_2 {
	width: 100%;
	height: 10%;
	margin-top: 130px;
}

.container .sha article .cont .seek .btn_2 button {
	width: 110px;
	height: 30px;
	border: none;
	background: url(../img/按钮.png) no-repeat;
	margin-top: 10px;
}

.container .sha article .cont .seek .btn_2 button a {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	line-height: 30px;
}

.container .sha article .cont .seek .video_search {
	margin-top: 50px;
}

.container .sha article .cont .seek .video_search button {
	width: 80px;
	height: 30px;
	color: white;
	font-size: 14px;
	border: none;
}

.container .sha article .cont .seek .video_search button:nth-child(1) {
	background: #0d5783;
}

.container .sha article .cont .seek .video_search button:nth-child(2) {
	background: #2196f7;
	margin-left: 20px;
}

.container .sha article .cont .seek .seek-1 {
	width: 74%;
	margin-left: 4%;
	padding: 10px;
}

.container .sha article .cont .seek .seek-1 p {
	font-size: 12px;
	margin-bottom: 10px;
}

.container .sha article .cont .seek .seek-1 .seek-1-2 {
	width: 90%;
	height: 60px;
	margin-top: 5px;
	font-size: 12px;
}

.container .sha article .seek .seek-1 .seek-1-2 .in-5 {
	width: 100%;
}
.container .sha article .seek .seek-1 .seek-1-2 .in-5 button:hover {
	background: #2196f7;
}
.container .sha article .seek .seek-1 .seek-1-2 .in-5 button:active{
	background: #1652cd;
}
.container .sha article .cont .seek .seek-1 .seek-1-2 p {
	width: 80%;
	background: #0d5783;
	height: 18px;
	line-height: 18px;
}

.container .sha article .cont .seek .seek-1 .seek-1-2 .little {
	margin-top: 20px;
	margin-bottom: 12px;
	margin-left: -35px;
	width: 300px;
}

.container .sha article .cont .seek .seek-1 .seek-1-2 .little .price {
	color: #fff;
	width: 185px;
	height: 22px;
	margin-left: 8px;
	background: #0d5783;
	border: 1px solid #2196f7;
	width: 40px;
}


/*.container .sha article .cont .seek .seek-1 .seek-1-2 .little p {
	height: 18px;
	display: inline-block;
	width: 60%;
	margin-left: 36px;
	line-height: 18px;
}*/

.container .sha article .cont .seek .seek-2 {
	margin-left: 20%;
	margin-top: 25px;
}

.container .sha article .cont .seek .seek-2 button {
	width: 64px;
	height: 24px;
	background: #2196f7;
	border: none;
	color: white;
	border-radius: 3px;
}

.container .sha article .cont .seek .seek-2 i {
	display: inline-block;
	width: 13px;
	height: 14px;
	margin-bottom: -3px;
	margin-right: 6px;
}

.container .sha article .cont .seek .seek-2 .seek-2-1 {
	margin-right: 20px;
}

.container .sha article .cont .seek .seek-2 .seek-2-1 i {
	background: url(../img/保存.png) no-repeat;
}

.container .sha article .cont .seek .seek-2 .seek-2-2 i {
	background: url(../img/搜索.png) no-repeat;
}

.container .sha article .cont .history {
	height: 30px;
	width: 100%;
	margin-top: 115px;
}

.container .sha article .cont .history a {
	display: inline-block;
	height: 30px;
	width: 110px;
	background: url(../img/按钮.png) no-repeat;
	border: none;
	color: #fff;
	color: white;
	text-align: center;
	line-height: 30px;
}

.container .sha aside {
	width: 100%;
	height: 620px;
}

.container .sha aside nav {
	margin-top: -5px;
	font-size: 14px;
}

.container .sha aside nav div {
	display: inline-block;
	width: 110px;
	height: 30px;
	background: url("../img/按钮.png");
	line-height: 28px;
}

.container .sha aside nav div i {
	margin-right: 8px;
}

.container .sha aside nav .tubiao {
	margin-right: 10px;
}

.container .sha aside nav .tubiao i {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../img/图表.png");
	margin-bottom: -2px;
}

.container .sha aside nav .ditu i {
	display: inline-block;
	width: 14px;
	height: 16px;
	background: url("../img/map.png");
	margin-bottom: -3px;
}

.container .sha aside .cont-1 {
	width: 100%;
	height: 792px;
	border: 1px solid #1b5a7a;
	background: rgba(2, 49, 71, 0.6);
	border-radius: 0;
	margin-top: 31px;
}

.container .sha aside .cont-1 .table {
	table-layout: fixed;
	width: 100%;
}
.container .sha aside .cont-1 .table tr {
	line-height: 30px;
}
.container .sha aside .cont-1 .table tr th {
	text-align: center;
	height: 40px;
	font-size: 14px;
}
.container .sha aside .cont-1 .table tr .tasklist-check-col{
	width: 6em;
}
.container .sha aside .cont-1 .table tr td {
	text-align: center;
	font-size: 14px;
}
.container .sha aside .cont-1 .table tr td img{
	margin-top: 10px;
}
.container .sha aside .cont-1 .table tr td .xtp {
	width: 80px;
	height: 80px;
	background: white;
	border-radius: 0;
	margin: 0 auto;
}

.container .sha aside .cont-1 .table .title1 {
	background: #005880;
}

.container .sha aside .cont-1 .table_2 tr th {
	width: 20%;
}

.container .sha aside .cont-1 .table_2 tr td {
	width: 20%;
}

.container .sha aside .cont-1 .table_2 tr td .lianjie-2 {
	border: none;
	width: 60%;
	margin-left: 5%;
}

.container .sha aside .cont-1 .table_2 tr td .lianjie-2 a {
	font-size: 16px;
	color: #00afff;
}

.container .sha aside .adjust {
	margin-top: -16px;
	overflow-y: scroll;
	min-height: 200px;
}

.container .sha aside .cont-2 {
	height: 803px;
	width: 52%;
	background: url(../img/布控_04_03.png) no-repeat;
	background-size: 100% 100%;
}

.container .sha aside .cont-2 .little-rim {
	height: 89%;
	border: none;
}

.container .sha aside .cont-2 .little-rim .little-1 {
	width: 100%;
	height: 15%;
	border: none;
	border-radius: 0;
}
.container .sha aside .cont-2 .little-rim .little-1 button:hover{
	background: #1095fe;
	border: 1px solid #2196f7;
}
.container .sha aside .cont-2 .little-rim .little-1 .little_photo {
	width: 100px;
	height: 100px;
	border-radius: 0;
	margin-left: 42px;
	margin-top: 60px;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank {
	width: 300px;
	height: 190px;
	background: url(../img/status.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank .little_tu {
	position: absolute;
	width: 70px;
	height: 70px;
	background: white;
	right: 10px;
	top: 10px;
	border-radius: 0;
	border: none;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank .little_message {
	width: 85%;
	height: 80%;
	margin-left: 6%;
	margin-top: 7%;
	font-size: 12px;
	color: #039ac0;
	border: none;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank .little_message div {
	border: none;
	margin-top: 16px;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank .little_message div p {
	display: inline-block;
	margin-right: 5px;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank .little_message div p span {
	margin-left: 5px;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank .little_message div:nth-child(1) {
	margin-top: 0;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank .little_message div:nth-child(2) p:nth-child(2) {
	margin-left: 30px;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank .little_message div:nth-child(3) p:nth-child(2) {
	margin-left: 42px;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank .little_message div:nth-child(3) span {
	margin-right: 5px;
}

.container .sha aside .cont-2 .little-rim .little-2 .little_rank .little_message div:nth-child(5) {
	margin-top: 10px;
}

.container .sha aside .cont-2 .little-3 {
	width: 100%;
	height: 10vw;
	border: none;
}

.container .sha aside .cont-2 .little-3 a {
	display: inline-block;
	width: 110px;
	height: 30px;
	background: url(../img/按钮.png) no-repeat;
	border: none;
	color: white;
	margin-top: 15px;
	margin-left: 14px;
	text-align: center;
	line-height: 30px;
}

.container .sha aside .cont-3 {
	width: 48%;
	height: 801px;
	border: 1px solid #1b5a7a;
	border-left: none;
	background: rgba(14, 33, 51, 0.8);
	border-radius: 0;
	overflow-y: scroll;
}

.container .sha aside .cont-3 .little_table {
	width: 100%;
	text-align: center;
	font-size: 14px;
}
.container .sha aside .cont-3 .little_table tr:hover {
	width: 100%;
	background-color:rgba(0, 88, 128, 0.5);
}
.container .sha aside .cont-3 .little_table tr td {
	border: 1px solid #0a405e;
	height: 100px;
}
.container .sha aside .cont-3 .little_table tr td img{
	width: 80px;
	height: 80px;
}
.container .sha aside .cont-3 .little_table tr td div {
	border: none;
	width: 100%;
	height: 100%;
	background: white;
	border-radius: 0;
}

.container .sha aside .cont-3 .little_table .one_line td {
	height: 30px;
}
.container .sha aside .cont-2 .little_table {
	width: 100%;
	text-align: center;
	font-size: 14px;
}
.container .sha aside .cont-2 .little_table tr:hover {
	width: 100%;
	background-color:rgba(0, 88, 128, 0.5);
}
.container .sha aside .cont-2 .little_table tr td {
	border: 1px solid #0a405e;
	height: 100px;
}
.container .sha aside .cont-2 .little_table tr td img{
	width: 80px;
	height: 80px;
}
.container .sha aside .cont-2 .little_table tr td div {
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 0;
	line-height: 100%;
	margin-top: 65px;
}
.container .sha aside .cont-2 .little_table .one_line td {
	height: 30px;
}
.container .sha aside .plan {
	width: 250px;
	height: 200px;
	position: absolute;
	top: 40%;
	left: 30%;
	background: url(../img/人脸共享-列表_06.png) no-repeat;
	background-size: 250px 200px;
	font-size: 12px;
	border: none;
	text-align: center;
}

.container .sha aside .plan .little_plan {
	width: 90%;
	height: 10%;
	font-size: 0;
	margin-left: 15px;
}

.container .sha aside .plan .little_plan span {
	display: inline-block;
	margin-top: 2px;
	font-size: 12px;
}

.container .sha aside .plan .little_plan i {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../img/close1.png");
	background-size: cover;
	margin-top: 2px;
}

.container .sha aside .plan p {
	margin-top: 28%;
}

.container .sha .side {
	height: 807px;
	background: rgba(11, 49, 71, 0.8);
}

.container .sha .map_1 {
	height: 600px;
	margin-top: 16px;
}

.container .sha .side .cont-1 .little-2 {
	height: 500px;
}

.container .pop-up {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.container .pop-up .video {
	width: 96%;
	height: 80%;
	position: relative;
	top: 10%;
	left: 2%;
}

.container .map {
	width: 81%;
	height: 576px;
	border: 1px solid #1b5a7a;
	margin-top: 21px;
}
article .cont-1 {
}
.table_2 tr td  .lianjie-button>button{
	background: transparent;
	border: #0d5873;
	font-size: 16px;
	color: #00afff;
	width: 90%;
	margin-right: -25px;
	margin-left: 37px;
}
.table_2 tr td  .lianjie-button>span>button{
	background: transparent;
	border: #0d5873;
	font-size: 16px;
	color: #00afff;
	width: 90%;
	margin-right: -25px;
	margin-left: 37px;
}
.table_2 tr td  .lianjie-button>a{
	background: transparent;
	border: #0d5873;
	font-size: 16px;
	color: #00afff;
	width: 90%;
	margin-right: -33px;
	margin-left: 37px;
}
article .cont-1 button {
	width: 90px;
	height: 30px;
	background: url(../img/按钮.png) no-repeat;
	background-size: 90px 30px;
	border: none;
	font-size: 16px;
	margin-right: 20px;
	color: white;
	font-weight: bold;
	font-family: "Microsoft YaHei";
}

article .cont-1 a {
	display: inline-block;
	width: 90px;
	height: 30px;
	background: url(../img/按钮.png) no-repeat;
	background-size: 90px 30px;
	border: none;
	font-size: 16px;
	margin-right: 10px;
	color: white;
	line-height: 30px;
}

article .cont-1 a i {
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 14px;
	background: url("../img/摄像机组_03.png");
	margin-left: 10px;
}

article .cont-1 button a {
	color: white;
}

article .cont-1 button i {
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 10px;
	margin-left: -2px;
}

article .cont-1 button:nth-child(1) i {
	background: url("../img/摄像机组_03.png");
}

article .cont-1 button:nth-child(2) i {
	background: url("../img/摄像机组_05.png");
}

article .cont-1 input {
	width: 311px;
	height: 28px;
	color: #fff;
	font-size: 12px;
	border: 1px solid #0087dc;
	background: #005880;
	padding-left:5px;
}

article .cont-1 .suosou {
	position: absolute;
	left: 94%;
	top: 3px;
	height: 25px;
	width: 6%;
	text-align: center;
	line-height: 23px;
	border-left: 1px solid #0087dc;
	background: none;
	font-size: 16px;
}
/*::-webkit-scrollbar{
	background: linear-gradient(to right,#0f2937,#041825);
}
!*::-webkit-scrollbar-thumb{*!
	!*background: #006c68;*!
	!*border-radius: 5px;*!
	!*background: linear-gradient(to right,#105a8a,#153e5f);*!
!*}*!
::-webkit-scrollbar{
	width: 16px;
	height: 16px;
	background: linear-gradient(to right,#1a99d9,#116b95);
}
!*定义滚动条的轨道，内阴影及圆角*!
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background:linear-gradient(to right,#116b95,#168fca) ;
}
!*定义滑块，内阴影及圆角*!
::-webkit-scrollbar-thumb{
	!*width: 10px;*!
	height: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background: #22b6ff;
}*/
::-webkit-scrollbar-button{
	display: inline-block;
}
::-webkit-scrollbar-corner{
	background-color: transparent;
}
/*
article .cont-2 {
	width: 100%;
	height: 793px;
	border: 1px solid #1b5a7a;
	background: rgba(2, 49, 71, 0.6);
	overflow-y: scroll;
	min-height: 200px;
	box-sizing: border-box;
}
*/

article .cont-2 table {
	width: 100%;
	font-size: 16px;
}
.task-list-container{
	height:730px;
}
article .cont-2 table tr {
	width: 100%;
	height: 38px;
}

article .cont-2 table tr:hover {
	width: 100%;
	height: 38px;
	background-color: rgba(0, 88, 128, 0.5);
}
article .cont-1 table tr:hover {
	width: 100%;
	background-color: rgba(0, 88, 128, 0.5);
}
article .cont-2 table tr th {
	text-align: center;
}

article .cont-2 table tr td {
	text-align: center;
}

article .cont-2 table tr .lianjie .lianjie-1 {
	height: 100%;
}

article .cont-2 table tr .lianjie .lianjie-1 a {
	text-decoration: underline;
	margin: 0 2px 0 2px;
	color: #00afff;
}

article .cont-2 table tr .lianjie .lianjie-2 {
	width: 80%;
	margin-left: 10%;
}

article .cont-2 table tr .lianjie .lianjie-2 a {
	text-decoration: underline;
	color: #00afff;
}

article .cont-2 table .title {
	background: #005880;
}



.his {
	width: 81%;
	height: 44vw;
	margin-left: 19%;
	border: 1px solid #1b5a7a;
}

.his form {
	width: 100%;
	height: 15%;
	font-size: 14px;
	position: relative;
}

.his form .little_form {
	width: 80%;
}

.his form .little_form div {
	display: inline-block;
}

.his form .little_form div input {
	background: #0d5783;
	border: #2196f7;
	height: 28px;
	color: #fff;
}

.his form .little_form a {
	color: #00afff;
	text-decoration: underline;
	margin-right: 50px;
}

.his form .hun {
	margin-left: -30px;
	margin-top: 15px;
}

.his form .cast {
	margin-left: 20px;
}

.his form button {
	margin-left: 420px;
	width: 70px;
	height: 28px;
	border-radius: 3px;
	background: #1095fe;
	border: none;
	color: white;
}

.his form button i {
	display: inline-block;
	width: 13px;
	height: 14px;
	background: url(../img/搜索.png) no-repeat;
	margin-bottom: -3px;
}

.his form .hunt {
	position: absolute;
	top: 15px;
	right: 200px;
}

.his .form_selec {
	height: 10%;
}

.his .print {
	width: 100%;
	height: 38.5vw;
	border-top: 1px solid #1b5a7a;
	padding-left: 20px;
	padding-top: 20px;
	background: rgba(2, 49, 71, 0.6);
}

.his .print .print_1 {
	width: 70px;
	height: 110px;
	font-size: 12px;
	padding-left: 10px;
	padding-top: 10px;
}

.his .print .print_1 .little_print {
	width: 60px;
	height: 60px;
	background: white;
}

.his .cont_2 {
	width: 100%;
	height: 508px;
	border: 1px solid #1b5a7a;
	background: rgba(2, 49, 71, 0.6);
}

.his .cont_2 table {
	width: 100%;
	font-size: 14px;
}

.his .cont_2 table tr {
	width: 100%;
	height: 38px;
}

.his .cont_2 table tr th {
	text-align: center;
}

.his .cont_2 table tr td {
	text-align: center;
}

.his .cont_2 table tr td div {
	width: 80px;
	height: 80px;
	background: white;
	margin: 0 auto;
}

.his .cont_2 table tr .lianjie .lianjie-1 {
	width: 40%;
	height: 100%;
	margin-left: 30%;
}

.his .cont_2 table tr .lianjie .lianjie-1 a {
	text-decoration: underline;
	color: #00afff;
}

.his .cont_2 table tr .lianjie .lianjie-2 {
	width: 80%;
	margin-left: 10%;
}

.his .cont_2 table tr .lianjie .lianjie-2 a {
	text-decoration: underline;
	color: #00afff;
}

.his .cont_2 table .title {
	background: #005880;
}

.histo {
	border: 1px solid #1b5a7a;
	background: rgba(2, 49, 71, 0.6);
}

.histo form {
	position: relative;
}

.histo form .in-5 input {
	width: 60px;
}

.histo form .in-5 .minu {
	height: 27px;
	margin-left: 0px;
	width: 20px;
	border-radius: 0;
	background: none;
	border: 1px solid #2196f7;
}

.histo form .in-5 .add {
	height: 27px;
	margin-left: 0px;
	width: 20px;
	border-radius: 0;
	background: none;
	border: 1px solid #2196f7;
}

.histo form .in-6 {
	margin-left: 20px;
}

.histo form .in-6 input {
	width: 60px;
}

.histo form .in-6 .minu {
	height: 27px;
	margin-left: 0px;
	width: 20px;
	border-radius: 0;
	background: none;
	border: 1px solid #2196f7;
}

.histo form .in-6 .add {
	height: 27px;
	margin-left: 0px;
	width: 20px;
	border-radius: 0;
	background: none;
	border: 1px solid #2196f7;
}

.histo form .in-7 {
	position: absolute;
	right: 308px;
	top: 46px;
}

.histo form .in-7 button {
	margin-left: 0px;
	background: url(../img/按钮.png) no-repeat;
	background-size: 70px 28px;
}

.histo form .in-7 .clear {
	margin-right: 10px;
}

.plan {
	border-top: 1px solid #1b5a7a;
	background: rgba(2, 49, 71, 0.6);
	width: 100%;
	height: 37.3vw;
}

.plan .plan_1 {
	width: 250px;
	height: 200px;
	position: absolute;
	top: 40%;
	left: 45%;
	background: url(../img/人脸共享-列表_06.png) no-repeat;
	background-size: 250px 200px;
	font-size: 12px;
	border: none;
	text-align: center;
}

.plan .plan_1 .little_plan {
	width: 90%;
	height: 10%;
	font-size: 0;
	margin-left: 15px;
}

.plan .plan_1 .little_plan span {
	display: inline-block;
	margin-top: 2px;
	font-size: 12px;
}

.plan .plan_1 .little_plan i {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../img/close1.png");
	background-size: cover;
	margin-top: 2px;
}

.plan .plan_1 p {
	margin-top: 28%;
	color: red;
}

.edit {
	width: 726px;
	height: 432px;
	border: 1px solid #00afff;
	position: absolute;
	top: 300px;
	right: 500px;
	display: none;
}

.edit .edit_1 {
	width: 100%;
	height: 10%;
	background: #084c7e;
}

.edit .edit_1 span {
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
}

.edit .edit_1 i {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/close1.png) no-repeat;
	margin-top: 10px;
	margin-right: 10px;
}

.edit .edit_2 {
	width: 100%;
	height: 75%;
	position: relative;
}

.edit .edit_2 form {
	width: 65%;
	height: 70%;
	position: absolute;
	top: 15%;
	left: 18%;
}

.edit .edit_2 form label {
	display: inline-block;
}

.edit .edit_2 form .in {
	margin-top: 15px;
}

.edit .edit_2 form .in .put {
	display: inline-block;
	margin-left: 20px;
}

.edit .edit_2 form .in .put-3 {
	width: 398px;
	height: 138px;
	border: 1px solid #008fc1;
}

.edit .edit_2 form .in .put-1 input {
	width: 394px;
}

.edit .edit_3 {
	width: 100%;
	height: 15%;
	background: #084c7e;
}

.edit .edit_3 button {
	width: 71px;
	height: 30px;
	background: #2196f7;
	border: none;
	margin-right: 20px;
	margin-top: 20px;
	color: white;
	font-size: 16px;
}

.chart {
	width: 1242px;
	height: 763px;
	position: absolute;
	top: 40px;
	left: -480px;
	background: #000;
}

.chart .chart_head {
	width: 100%;
	height: 37px;
	background: #084c7e;
	line-height: 37px;
	border-radius: 0;
}

.chart .chart_head span {
	margin-left: 20px;
}

.chart .chart_head i {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/close1.png) no-repeat;
	margin-top: 5px;
	margin-right: 10px;
}

.chart .chart_cont {
	width: 100%;
	height: 673px;
}

.chart .chart_cont .chart_state {
	width: 206px;
	height: 100%;
	background: #094164;
	text-align: center;
	border: none;
}

.chart .chart_cont .chart_state .chart_tp {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 12px;
	background: white;
}

.chart .chart_cont .chart_state .chart_bar {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 12px;
}

.chart .chart_cont .chart_state p {
	margin-bottom: 18px;
}

.chart .chart_cont .chart_list {
	width: 1036px;
	height: 100%;
	border: none;
	background: #043553;
}

.chart .chart_cont .chart_list .chart_declare {
	width: 120px;
	height: 150px;
	border: 2px solid #0378a2;
	background: #fdfdfd;
	margin-top: 16px;
	margin-left: 16px;
}

.chart .chart_cont .chart_list .chart_declare div {
	width: 80px;
	height: 80px;
	margin: 3px auto 6px;
	text-align: center;
	border-radius: 0;
}

.chart .chart_cont .chart_list .chart_declare p {
	font-size: 14px;
	color: #0b233a;
	margin-bottom: 10px;
	line-height: 16px;
	text-align: center;
}

.chart .chart_foot {
	width: 100%;
	height: 50px;
	background: #084c7e;
	border-radius: 0;
}

.chart .chart_foot button {
	width: 80px;
	height: 30px;
	background: #2196f7;
	border: none;
	margin-top: 10px;
	margin-right: 20px;
	color: white;
}

#images {
	width: 20%;
	height: 165px;
	overflow-y: scroll;
	position: absolute;
	/* margin-top: -25px; */
}
.put-info #images{
	margin-top: 0;
}

.Entry {
	color: red;
	margin-top: 12px;
	margin-left: 67px;
	margin-bottom: 12px;
}

.entry {
	color: red;
	margin-bottom: 12px;
}

.duty {
	width: 100%;
	margin-left: -40px;
	margin-bottom: 25px;
}

.Duty {
	margin-left: 27px;
	margin-bottom: -4px;
}

.duty input {
	/* margin-left: 10px; */
	height: 22px;
	background: #0d5783;
	border: 1px solid #2196f7;
	width: 184px;
	color: #fff;
}
.duty input[type="checkbox"]{
	height: 12px;
	/* margin-left: 30px; */
	width: 20px;
}
.search {
	margin-left: -5px;
}

.active {
	background: rgba(1, 84, 81, 0.8);
	font-weight: bold;
}

.win-track {
	width: 100%; height:94%;
}
.container .sha {
	width: 81%;
	height: 840px;
	font-size: 14px;
}
.in-success .ul-group {
	margin-left: 13%;
	width: 55%;
	overflow-y: scroll;
	height: 150px;
}
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.cont-div .in-success{
	margin-left: 5px;
	margin-top: 10px;
}
.cont-div .in-success>select{
	width: 177px;
}
.cont-div .editInput{
	width: 185px;
	margin-bottom: 20px;
}
.cont .cont-div{
	height: 520px;
}
.div-input{
	border-bottom: 1px solid #0d5783;
	margin-bottom: 20px;
	margin-top: 20px;
}
.in-success{
	margin-bottom: 10px;
}
.btn-success{
	margin-left: 140px;
	background: #0d5783;
	padding: 5px;
	color: #fff;
	border-radius: 5px;
	border-color: #0d5783;

}
.btn-success:hover{
	background: #2196f7;
	border-color:#2196f7;
}

.edit-success{
	margin-top: 15px;
	margin-left: 6px;
	margin-bottom: 15px;
}

.search .btn-info{
	margin-left: 106px;
}
.search .btn-info:hover{
	background: #2196f7;
}
.search .btn-info:active{
	background: #1652cd;
}
.scrollbar{
	/* margin-top: 100px;
	margin-right: 160px; */
}
.in-success .ul-group li{
	padding: 5px;
	width: 95%;
	font-size: 14px;
}
.in-success .ul-group li button{
	float: right;
	width: 20%;
}
.in-success .ul-group li input{
	margin-top: 2px;
}

.div-input-left>.in-success>.label-top{
	position: absolute;
	margin-left: -5px;
}
.div-input>.input-large{
	width: 28%;
}
.div-large>.select-large{
	width: 27.5%;
	color:#fff;
	height:24px;
	margin-left: 5px;
	margin-bottom: 2%;
	background: #0d5783;
	border: 1px solid #2196f7;
	font-size: 14px;
}
.cont-div>.div-input>.actBtn.btn-info{
	width: 10em;
	margin-left: 100px;
	margin-bottom: 10px;
}
.cont-div>.div-input>.actBtn.btn-info:hover{
	background: #2196f7;
}
.in-success .in-div-left{
	display: inline-block;
	width: 50%;
}
.in-success .in-div-left div{
	display: inline-block;
	margin-left: 11.5%;
}
.in-success .in-div-left .check-div{
	margin-left: 5px;
}
.in-success .in-div-left .lab-div{
	margin-bottom: 5px;
	margin-left: 5px;
}
.in-success .in-div-left .lab-div label{
	float: left;
	margin-bottom: -6px;
	margin-left: 5px;
}
.in-success .in-div-left>select{
	margin-left: 13%;
	width: 56%;
	height: 24px;
	background: #0d5783;
	color:#fff;
	border: 1px solid #2196f7;
	margin-bottom: 20px;
	font-size: 14px;
}
.in-success .in-div-left button{
	width: 100px;
}
.in-success .in-div-left button:hover{
	background: #1095fe;
}
.in-success .in-div-left button:active{
	background: #1652cd;
}
/*.container .clearfix article nav{*/
	/*width: 121px;*/
	/*height: 26px;*/
	/*background: url(../img/人脸共享-列表_05.png);*/
/*}*/
/*.container .sha article {*/
	/*width: 100%;*/
	/*height: 620px;*/
/*}*/
/*.container .sha article .cont {*/
	/*width: 100%;*/
	/*height: 813px;*/
	/*border: 1px solid #1b5a7a;*/
	/*background: rgba(2, 49, 71, 0.6);*/
	/*font-size: 14px;*/
/*}*/
.container .sha nav {
	text-align: center;
	line-height: 26px;
}
.duty .help-block {
	background: #0d5783;
	color: #fff;
	padding: 3px 8px;
	border: 1px solid #2196f7;
	border-radius: 2px;
}
.duty .help-block.danger {
	background: #c00;
	border: 1px solid #a00;
}
textarea{
	background: #0d5783;
	border: 1px solid #2196f7;
	width: 186px;
	margin-left: 11px;
	margin-bottom: 20px;
	color: #fff;
	height: 30px;
}
.container .sha aside .cont-aside{
	position: absolute;
	top: 26px;
}
.container .sha aside .cont-aside .pager-bottom{
	border: 0;
}
.div-little>.btn-act{
	margin-bottom: 10px;
}
.div-little>.btn-act:hover{
	background: #2196f7;
}
.div-little>.btn-act:active{
	background: #0c556f;
}
.div-active>.button-active{
	margin-left: 15px;
	color: white;
	width: 7em;
	height: 3em;
	background: #0d5783;
	border: 1px solid #2196f7;
	margin-top: 8px;
	font-size: 12px;
	margin-bottom: 10px;
}
.div-active>.button-active:hover{
	background: #2196f7;
}
.div-active>.button-active:active{
	background: #1652cd;
}
.active-img{
	width: 35px;
	height: 35px;
	float: right;
	margin-top: 8px;
	margin-right: 20px;
}
.active-img-right{
	width: 35px;
	height: 35px;
	float: right;
	margin-top: 8px;
	margin-right: 20px;
}
.look-div ul {
	width: 100%;
	text-align: center;
}
.look-div .look-div-p {
	background:#0087dc ;
	line-height: 30px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
}
.look-div ul li{
	text-align: center;
	line-height: 30px;
	width: 100%;
}
.look-div ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 14px;
}
.look-div ul li a:hover{
	display: block;
	background: rgba(0, 88, 128, 0.5);
}
.div-video{
	width: 43%;
	height: 750px;
	margin-left: 2%;
	margin-top: 2%;
}
.div-video .textSpan{
	height: 30px;
}
/* .div-form{
	display: inline-block;
	float: left;
	width: 100%;
	margin-bottom: 10%;

}
.div-form input{
	width: 69%;
	height: 28px;
	color: #fff;
	font-size: 12px;
	border: 1px solid #0087dc;
	background: #005880;
}
.div-form button{
	margin-top: 5px;
	height: 29px;
	width: 14%;
	text-align: center;
	line-height: 22px;
	border: 1px solid #0087dc;
	font-size: 12px;
	color: #fff;
	background: #0087dc;
	margin-left: 0;
}
.div-form p{
	margin-top: 20px;
}
.div-form button:hover{
	background: #0d5783;
}
.div-form button:active{
	background: #2196f7;
}
 */
video{
	width: 87%;
	height: 35%;
	border: 1px solid #0d5783;
	margin-bottom: 12%;
}
.div-bottom{
	display: inline-block;
	width: 100%;
	height: 180px;
	overflow: hidden;
	border: 1px solid #0d5783;
	text-align: center;
}
.div-bottom ul li{
	width: 100px;
	border: 1px solid #0d5783;
	margin: 6px 14px;
	float: left;
	height: 177px;
}
.div-bottom-img ul li div{
	display: inline-block;
	font-size: 13px;
	text-align: center;
	background: rgb(25,59,88);
	height: 57px;
}
.div-bottom ul li img{
	width: 100px;
	height: 120px;
	text-align: center;
	vertical-align: bottom;
}

.div-right{
	display: inline-block;
	float: right;
	width: 38%;
	overflow-y: scroll;
	min-height: 10px;
}
.div-right .div-right-ul{
	height: 800px;
	float: left;
	width: 100%;
	border: 1px solid #0d5783;
	box-sizing: border-box;
}
.div-right .div-right-ul li{
	float: left;
	width: 100%;
	display: inline-block;
	font-size: 14px;
}
.div-right .div-right-ul .div-right-li{
	font-size: 14px;
	text-align: center;
}
.div-right .div-right-ul .div-right-li span{
	border: 1px solid #0d5783;
	height: 30px;
	line-height: 30px;
}
.div-right .div-right-ul .div-right-li-img span{
	height: 80px;
	border: 1px solid #0d5783;
	line-height: 80px;
}
.div-right .div-right-ul .div-right-li-img .div-span-time{
	display: inline-block;
	font-size: 12px;
	height: 80px;
	line-height: 80px;
}
.div-right .div-right-ul .div-right-li-img .div-span-time .div-span-div{
	width: 100%;

}
.div-right .div-right-ul li span{
	float: left;
	width: 20%;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
}
.div-right .div-right-ul li .div-right-span{
	width: 15%;
}
.div-right .div-right-ul li .div-right-time{
	width: 25%;
}
.div-right .div-right-ul .div-right-li-img img{
	width: 70px;
	height: 80px;
}
.camActive{
	background:rgba(0, 88, 128, 0.5) ;
}
.container .div-article .div-cont-2{
	overflow-y: hidden;
}
.div-large-right{
	width: 100%;
}
.embed{
	left: 20%;
	width: 35%;
	height: 31%;
}
#vlc{
	width: 100%;
	margin-right: 100px;
	height: 300px;
}
.sha article .cont aside .cont-aside .page{
	border: 0;
}

article .page-div{
	top: 124%;
	background: rgba(0, 88, 128, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
	right: 2px;
	border: 0;
}

/*.container .sha article .cont .page-size{*/
	/*top: 124%;*/
	/*border: 0;*/
	/*margin-right: 0;*/
/*}*/
.one .photo .page-class{
	top: 98%;
	background: rgba(37, 99, 109, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
	right: 2px;
	border: 0;
}
.container .sha article .cont .bg-page{
	border: 0;
}
/* .page {
	position: absolute;
	top: 20%;
	right: -17px;
	font-size: 12px;
	margin-right: 30px;
}
.page.page-info{
	top: 125%;
	margin-right: 100px;
}
.page div {
	display: inline-block;
	margin-left: 10px;
	width: 70px;
	height: 20px;
	border: 1px solid #008fc1;
	background: #0a3b57;
	text-align: center;
}

.page div a {
	display: inline-block;
	width: 100%;
	height: 20px;
	color: white;
	line-height: 20px;
	text-align: center;
}


.page span{
	margin-left: 10px;
}

.page .pagination {
	width: 70px;
	height: 20px;
	border: 1px solid #008fc1;
	background: #0a3b57;
	text-align: center;
	margin-bottom: -2px;
	color: #fff;
}

.page .page-end {
	width: 40px;
}
 */
.p-div{
	display: inline-block;
	margin: 10px 0;
	font-size: 14px;
}
.p-div-left{
	margin-left: 5px;
}
.container aside div .page-size{
	top: 125%;
	background: rgba(139, 158, 167, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
	right: 2px;
	border: 0;
}
.rtspVideo{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	overflow: hidden; 
	outline: 0;
	display: none;
	width: 740px;
	height:560px;
	background:#fff;
	cursor: pointer;

}
.rtspVideo p{
	height:35px;
	line-height:35px;
	width:100%;
	border-bottom: 1px solid #ccc;
	margin-bottom:4px;
}
.rtspVideo .rtspVideoTitle{
	font-size:14px;
	color:#000;
	padding-left: 10px;
}
.rtspVideo a.rtspVideoColse:hover{
	color:#aaa;
}
.rtspVideo a.rtspVideoColse{
	float:right;
	font-size:28px;
	color:#ccc;
	width:20px;
	height:20px;
	padding-right: 10px;
}
.rtspVideo #vlc1{
	width: 700px;
	margin:0 20px;
	height: 500px;
}
.modal{
	cursor: pointer;
	position: fixed;
    overflow: hidden;
    outline: 0;
    display: none;
    width: 50%;
    width: 740px;
    height: 560px;
    top: 50%;
    left: 50%;
    z-index: 100;
}
.modals{
	cursor: pointer;
	position: fixed;
	overflow: hidden;
	outline: 0;
	display: none;
	width: 50%;
	width: 740px;
	height: 560px;
	top: 50%;
	left: 50%;
	z-index: 100;
}
.modal-dialog{
	position: relative;
	width: 100%;
	height: 400px;
	margin: 10px;
}
.modal-content{
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-header {
	min-height: 16.42857143px;
	padding: 5px;
	border-bottom: 1px solid #e5e5e5;
	color: #0d5783;
	margin-left: 12px;
}
.modal-header .close {
	margin-top: -2px;
}
.modal-body {
	position: relative;
	padding: 15px;
	width: 96%;
	height: 450px;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	margin-right: 10px;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
}
.playBtn{
	margin-top: 10px;
	margin-left: 10px;
	width: 6em;
	height: 2em;
	background: #0d5783;
	color: #fff;
	border: 1px solid #2196f7;
}
.playBtn:hover{
	background: #1095fe;
	border: 1px solid #2196f7;
}
.playBtn:active{
	background: #0c556f;
}
article .div-right-tr table tr th{
	border: 1px solid #0d5783;
}
.div-right-tr-img td{
	border: 1px solid #0d5783;
}
.div-right-tr-img img{
	width: 70px;
	height: 80px;
}
.div-right-td-img{
	width: 7em;
}
article .cont-2 .div-right>table tr th{
	border: 1px solid #0d5783;
}
article .cont-2 .div-right>table tr td{
	border: 1px solid #0d5783;
	font-size: 14px;
}
.scrollbar .photo-gallery {
	position: relative;
}
.scrollbar .photo-gallery i {
	position: absolute; top: 70%; right: 0; bottom: 0; left: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color .5s;

}
.scrollbar .photo-gallery p:hover i {
	background:rgba(0, 0, 0, .6)  url("../img/close.png") no-repeat 35px 2px;
	cursor: pointer;
}
.seek .scrollbar .photo-gallery .borActive{
	border: 1px solid #0d5783;
}





.member-item:hover {
	background-color: orange;
	color: black;
	font-weight: bold;
}
/*新增加样式nvr播放器*/
.nvrFlvPlayer{
	margin: 0;
}
.nvrFlvPlayer .modal-header{
	margin-left: 0;
	background: #06233a;
	box-shadow: #02364F 0 0 20px 5px inset;
	border:0;
	color: rgb(226, 247, 255);
	height: 25px;
	line-height: 25px;
}
.nvrFlvPlayer .modal-body{
	background: #0B3147;
	box-shadow: #025c83 0 0 20px 5px inset;
}
.nvrFlvPlayer .modal-header .close{
	opacity: 1;
	color:#fff;
}
.nvrFlvPlayer .modal-content{
	border-radius: 0;
}