.left-div{
	width:100%;
	height:100%;
	border: 1px solid #1b5a7a;
}

.left-main {
    width: 100%;
    height: 100%;
	background: rgba(2, 49, 71, 0.6);
}
.main-left{
	width: 15%;
    height: 100%;
    display: inline-block;
    border-right: 2px solid #0d5783;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: center;
}
/* 公用类 */
.overflow-auto-div{
    width:100%;
    height:100%;
    overflow:auto;
}
.no-borser{
    border:none;
}
.border-top{
    border-top:1px solid #0d5783;
}
.border-bottom{
    border-bottom:1px solid #0d5783;
}
.border{
    border:1px solid #0d5783;
}
.position-rel{
    position: relative;
}
.high-light-shadow{
    -webkit-box-shadow: 0px 0px 20px #084f6d inset;
    -moz-box-shadow: 0px 0px 20px #084f6d inset;
    -o-box-shadow: 0px 0px 20px #084f6d inset;
    box-shadow: 0px 0px 20px #084f6d inset;
}
/* 列表  */
.cont-top{
	width: 100%;
	height: 36px;
	position: absolute;
	top:0;
	left:0;
	z-index:1; 
}
.cont-bottom{
	width:100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 36px;
	position: absolute;
	top:0;
	left:0;
}
.cont-bottom .cont-table{
	width:100%;
	height:100%;
	overflow: auto;
	box-sizing: border-box;
	background: rgba(2, 49, 71, 0.6);
	border: 1px solid #1b5a7a;
}
.bottom-main{
	width: 100%;
	height: 100%;
}
/* 分页 */
.cont-page{
    border-radius: 10px;
    background: rgba(0, 88, 128, 0.5);
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
    line-height: 34px;
    padding: 8px;
}
.cont-page .page-main div.w-8{
    display: inline-block;
    padding:1px 5px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #008fc1;
    background: #0a3b57;
    text-align: center;
    margin:auto 0;
}
.cont-page .page-main div.w-26{
    display: inline-block;
    padding:1px 5px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin:auto 0;
}
.cont-page .page-main .pagination {
    display:inline-block;
    padding:1px 5px;
    height: 20px;
    border: 1px solid #008fc1;
    background: #0a3b57;
    text-align: center;
    margin-bottom: -2px;
    color: #fff;
    width:54px;
}
.cont-page .page-main div a {
    display: inline-block;
    width: 100%;
    height: 20px;
    color: white;
    line-height: 20px;
    text-align: center;
}
/* 分页结束 */

/*  摄像机列表页 camera-list.html */
.map-dialog {
    display: none;
    background: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20cm;
    height: 12cm;
    margin-top: -10cm;
    margin-left: -6cm;
    z-index:10;
}
/* 编辑 */
.span-title{
    display: inline-block;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    padding-right: 17px;
    background: url(../img/detail_title_bg_right.png) no-repeat right center;
}
.span-title i {
    display: block;
    padding-left: 17px;
    background: url(../img/detail_title_bg_left.png) no-repeat left center;
}
.i-title{
	display: block;
    width: 121px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    background: url(../img/detail_title_bg.png) no-repeat;
}
.top-26px{
	margin-top: -26px;
}
.no-position{
	padding-top: 0;
	position: static;

}
.bg-color{
	background: rgba(2, 49, 71, 0.6);
}
.edit-cont{
	background: rgba(2, 49, 71, 0.6);
	border: 1px solid #1b5a7a;
}
.every-attr{
	margin:14px 0;
	width:100%;
}
.attr-label > i{
    color:red;
}
.every-attr label.attr-label{
	display:inline-block;
	width:20%;
	height:20px;
	line-height: 20px;
	text-align: right;
}
.every-attr .attr-input{
	margin:0;
	display:inline-block;
	width:400px;
	height:20px;
	line-height: 20px;
	background: #0d5783;
    border: 1px solid #2196f7;
    color: #fff;
}
.every-attr .attr-input-data{
    width:378px;
}

.btn-group{
	padding-left: 25%;
}
.btn-group .btn{
	margin-left: 5px;
    color: white;
    width: 80px;
    height: 40px;
    background: #0d5783;
    border: 1px solid #2196f7;
    margin-top: 8px;
}
.btn-group .btn:hover {
    background: #1095fe;
}
.actBtn:hover{
    background: #1095fe;
    border: 1px solid #2196f7;
}
.actBtn {
    margin-left: 12px;
    color: white;
    width: 7em;
    height: 3em;
    background: #0d5783;
    border: 1px solid #2196f7;
    margin-top: 8px;
}
/* 多选框 */
#multi-select{
	margin:0;
	width:400px;
	overflow-y: scroll;
    height: 150px;
}
#multi-select li:hover{
    background: orange;
    color: #000;
    font-weight: bold;
}
#multi-select li{
	padding: 5px;
    font-size: 14px;
}
#multi-select .check-div {
    display: inline-block;
    margin-left: 15px;
}
#multi-select .check-div input {
    margin-top: 5px;
}
#multi-select .lab-div {
    display: inline-block;
    margin-left: 10px;
}
#multi-select .lab-div label {
    margin-bottom: -1px;
    width: 100%; 
    height: 20px; 
    line-height: 20px;
}
/* 仪表盘-分模块 */
.notes{
	box-sizing:border-box;
	padding:5px 20px;
}
.notes-box{
	width: 100%;
    height: 100%;
    border: 2px solid #1b5a7a;
    border-radius: 10px;
    background-color: rgba(2, 49, 71, 0.6);
    position:relative;
    box-sizing: border-box;
}
.notes-box .one {
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #1b5a7a;
    line-height: 52px;
    position: absolute;
    top: 0;
    left:0;
}
.notes-box .one .tp1 {
    height: 27px;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
}
.notes-box .one .tp1 i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-bottom: -6px;
    margin-right: 10px;
    background: url(../img/系统.png) no-repeat;
}
.notes-box .one .tp2 {
    width: 23px;
    height: 27px;
    text-align: center;
    margin-right: 10px;
}
.notes-box .one .tp2 i {
    display: inline-block;
    width: 17px;
    height: 20px;
    background: url(../img/刷新.png);
    margin-bottom: -6px;
}
.notes-box .two {
    width: 100%;
    height: 100%;
    line-height: 36px;
    box-sizing: border-box;
    padding:52px 30px 0;

}
.notes-box .two ul{
	height:100%;
}
.notes-box .two .title-1 {
    width:30%;
}
.notes-box .two li{
	height: 13%;
}
.notes-box .two .title-2{
    text-align: right;
    width:70%;
}
.notes-box .w-100{
	width:100%;
}
.h-100{
	height:100%;
}

/********************** new-search.html *******************/
.search-box{
    width:100%;
    height:100%;
}
.search-left,.search-right{
    height:100%;
    box-sizing: border-box;
}
.search-left{
    width:45%;
    border-right:1px solid #1b5a7a;
    overflow: hidden;
}
.every-attr .w-200px{
    width:200px;
}
/* 日期输入框 */
.attr-data{
    display: inline-block;
    position: relative;
}
.attr-data .data-icon{
    position: absolute;
    top: -19px;
    right: -14px;
    width: 60px;
    height: 60px;
    margin:0;
}
/* 日期输入框 结束*/
.duty {
    width: 100%;
    margin: 0;
}
.Entry {
    color: red;
    margin:0;
}
.marginL-20{
    margin-left: 20%;
}
input[type="checkbox"]{
    height: 12px;
    width: 20px;
}
.paddingL-10{
    padding-left:10%;
}
.paddingL-29{
    padding-left:29%;
}
.search-right {
    width: 55%!important;
    height: 100%!important;
    /* overflow: auto!important; */
    display: inline-block;
}
/********************** view-search.html *******************/
/*头部刷新条*/
#refresh-div{
    width:100%;
    height:56px;
}
.position{
    position: absolute;
}
#refresh-div .refresh-btn{
    width:84px;
    height:36px;
    color: white;
    width: 7em;
    height: 3em;
    background: #0d5783;
    border: 1px solid #2196f7;
    font-size: 12px;
    margin:10px;
}
#refresh-div .refresh-btn:hover{
    background: #2196f7;

}
.active-img {
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 8px;
    margin-right: 20px;
}
.active-img-right {
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 8px;
    margin-right: 20px;
}
/*头部刷新条结束*/
.btn-onload{
    display:block;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #00afff;
    width: 100%;
    text-align:center;
}
/********************** view-search.html 结束 *******************/
/********************** view-monitor.html *******************/
.monitor-right{
    width: 55%;
    height: 100%;
    display: inline-block;
    position: relative;
}
.left-table{
    width:100%;
    overflow-y:auto; 
    border-right: 1px solid #1b5a7a;
    
}
.left-table tr:hover,.table-right tr:hover{
    background-color: rgba(0, 88, 128, 0.5);
}
.left-table tr,.table-right tr{
    width: 100%;
    height:35px;
   border-bottom:1px solid #1b5a7a;
}
.left-table td,.table-right td{
    border-right:1px solid #1b5a7a;
    height:101px;
   font-size:14px; 
   text-align: center;
}
.left-table .one_line,.table-right .one_line{
   border-top:1px solid #1b5a7a;
   height:30px;
   line-height: 30px;
   background-color: rgba(0, 88, 128, 0.5);
}
.left-table .one_line th,.table-right .one_line td{
   height:35px;
   line-height: 35px;
}
.left-table td img{
    width: 80px;
    height: 80px;
    
}
.table-slide{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    padding-top:56px;
    box-sizing:border-box;
    overflow-y: auto;
}
.refresh-div-position{
    position:absolute;
    top:0;
    left:0;
    background: rgba(0, 88, 128, 1);
    z-index:10;
}
.table-right{
    width:100%;
    /* height: 100%; */
    overflow-y:auto;

}
.show-pic-div{
    position: absolute;
    top: 20px;
    right: 20px;
    overflow:hidden;
    display:none;
    background:#fff;
    padding:10px;
    border-radius: 10px;
    text-align: center;
}
.show-pic-div img{
    float:left;
    margin:auto;
}
.monitor-dialog-box{
    width:1034px;
    height:634px;
    border:2px solid #05668b;
    position: fixed;
    top:20%;
    left:20%;
    background:rgba(2, 49, 71, 1);
    display: block;
    z-index: 160;
}
.monitor-dialog-title{
    width:100%;
    border-bottom:2px solid #01649a;
    line-height: 54px;
    height:54px;
    box-sizing: border-box;
    text-align: center;
    position:absolute;
    top:0;
    left:0;
    z-index: 165;
    font-size:18px;
    font-weight: bold;
    background:#0d5783;
}
.monitor-dialog-content{
    width:100%;
    height:100%;
    box-sizing:border-box;
    position:absolute;
    padding-top:54px;
    top:0;
    left:0;
    z-index: 161;
}
.monitor-dialog-content-left{
    width: 804px;
    height:100%;
    border-right:2px solid #01649a;
    box-sizing:border-box;
}
.max-pic-div{
    width:100%;
    height:400px;
    position: relative;
}
.max-pic-div li{
    display: none;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}
.max-pic-div li.current{
    display: block;
}
.max-pic{
    width:400px;
    height:100%;
    overflow:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-800px{
    width:802px;
}
.pic-title{
    width:100%;
    height:50px;
    background:rgba(0,0,0,0.1);
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    line-height:50px;
    font-size:14px;
    color:#fff;
}
.min-pic-div{
    width:100%;
    height: 180px;
    padding: 0 30px;
    box-sizing: border-box;
    border-top: 2px solid #01649a;
}
.min-pic-div li{
    float: left;
    width: 33.33%;
    height: 100%;
    box-sizing: border-box;
    border-top: 7px solid #09314b;
    padding: 0 63px;
}
.min-pic-div .no-right-border{
    border-right:none;
}
.min-pic-div li div{
    position: absolute;
    top: 0;
    left: 63px;
    width: 49%;
    height: 130px;
    background: rgba(0,0,0,0.6);
    padding: 0 60px;
    box-sizing: border-box;
}
.min-pic-div li.video-bg div{
    background:url(../img/monitor_video_bg.png) no-repeat center rgba(0,0,0,0.6);
}
.min-pic-div li.video-bg .progress{
    width: 90%;
    height: 8px;
    padding: 0;
    background-color: lightgray;
    border-radius: 4px;
    position: absolute;
    top: 61px;
    left: 5%;
    text-align: center;
    font-size: 12px;
}
.min-pic-div li.video-bg .progress>p>.progress-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 8px;
    border-radius: 4px;
    background-color: #01649a;
}
.min-pic-div li div.current{
     background:rgba(0,0,0,0);
}
.min-pic-div li .img-container{
    width: 100%;
    height: 130px;
}
.min-pic-div li img{
    width:100%;
    height: 130px;
}
.min-pic-div li p{
    width:122%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    margin-left: -11%;
}
.min-pic-div li p a{
    color: rgb(226, 247, 255);
}
.min-pic-div li div p{
    font-size: 14px;
}
.monitor-dialog-content-right{
    width:230px;
    height: 100%;
}
.dialog-content-top{
    width:100%;
    height:490px;
    border-bottom:2px solid #01649a; 
    background: #07415f;
}
.dialog-camera-info{
    padding:20px 6px;
    border-bottom:2px solid #01649a;
}
.dialog-user-info{
    padding: 20px 6px;
}
.dialog-task-info{
    padding: 20px 6px;
    border-top:2px solid #01649a;
}
.p-style{
    line-height: 26px;
    font-size: 14px;
    font-weight:bold;
}
.p-style a:hover{
    text-decoration: underline;
}
.p-style a{
    color:#e2f7ff;
}
.bold{
    font-size: 16px;
}
.p-style em{
    padding-right: 5px;
    font-size: 14px;
    
}
.span-style{
    display:inline-block;
    line-height:26px;
    font-size: 14px;
    padding-right: 10px;
}
.dialog-save,.dialog-close{
    width:70px;
    height:35px;
    text-align: center;
    line-height: 35px;
    background: #0188b8;
    display: inline-block;
    color:#fff;
    margin-top: 32px;
}
.dialog-save{
    margin-left: 41px;
}
/********************** view-monitor.html 结束 *******************/
/********************** new-monitor.html *******************/
.popup {
    position: fixed;
    z-index: 101;
    overflow: hidden;
    outline: 0;
    display: none;
    border-radius: 5px;
    width: 270px;
    height:355px;
    top:30%;
    right:20%;
    cursor: pointer;
}
.popup-dialog {
   width:100%;
   height:100%;
}
.popup-content {
    background-color: #fff;
    border: 1px solid #999;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    width:100%;
    height:100%;
}
.popup-header {
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #0d5783;
}
.popup-header .close {
    margin-top: -2px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin-right: 10px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.popup-body {
     color: #000;
    padding: 15px;
}
.popup-body label {
    color: #000;
    width: 70px;
    text-align: right;
    display: inline-block;
}
.popup-button button:hover{
    background: #1095fe;
}
.popup-button button{
    width: 55px;
    height: 25px;
    background: #0d5783;
    border: 1px solid #2196f7;
    color: #fff;
    margin: 10px auto;
    display: block;
}
.popup-input{
    margin-bottom: 10px;
}
.popup-input input{
    height: 17px;
}
.popup-input textarea{
    height: 51px;
    width: 148px;
    line-height: 15px;
    background: none;
    border-color: rgb(169, 169, 169);
    color: #333;
    margin: 0;
}
.popup-input .textarea-label{
    vertical-align: top;
}
/********************** new-monitor.html 结束 *******************/
/********************** view-capture.html *******************/
nav.title{
    width: 100%;
    height: 26px;
    background: #0d5783;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    z-index:10;
    position:absolute;
    top:0;
    left:0;
}
.capture-refresh{
    z-index:10;
    position:absolute;
    top:26px;
    left:0;
}
.photo{
    width:100%;
    height:50%;
    
    position: relative;
    box-sizing: border-box;
}
.photo-now{ 
    border-bottom:1px solid #1b5a7a;
    border-top:1px solid #1b5a7a; 
}
.photo-title{
    height:26px;
    width: 100%;
    line-height: 26px;
    position: absolute;
    top:0;
    left:0;
    padding-left:10px;
    box-sizing: border-box; 
    z-index: 10;
    background:rgba(0, 88, 128, 1); 
}
.photo-div{
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    padding-top:26px;
    overflow-y:auto; 
    box-sizing: border-box;
}
.photo-div ul li{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    width: 100px;
    border: 1px solid #0d5783;
    border-radius: 5px;
    height:180px;
    overflow: hidden;
} 
.photo-div ul li img{
    width: 100px;
    height: 120px;
}
.photo-div ul li p{
    height: 30px;
    font-size: 12px;
    text-align: center;
    background: rgb(25,59,88);
}
/********************** view-capture.html 结束 *******************/
/********************** new-capture.html *******************/
.twoo-right{
    border: 1px solid #0d5783;
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 2%;
    width: 32%;
    height: 25%;
}
/********************** new-capture.html 结束 *******************/
/********************** look-list.html *******************/
.look-mian{
    width: 100%;
    height: 100%;
    background: rgba(2, 49, 71, 0.6);
    position: relative;
}
.look-mian-side{
    position: absolute;
    top:0;
    left:0;
    width: 188px; 
    height: 100%;
    display: inline-block;
    border-right: 2px solid #0d5783;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.online-camera{
    background: #0087dc;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    position: absolute;
    top:0;
    left:0;
}
.camera-div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    padding-top: 63px;
    box-sizing: border-box;
    z-index: 11;
}
.li_one{
    position: absolute;
    top: 30px;
    left: 0;
    text-align: center;
    line-height: 30px;
    width: 100%;
    box-sizing: border-box;
    padding:0 5px;
    z-index: 12;
}
.search-input{
    width: 100%;
    height: 28px;
    color: #fff;
    font-size: 12px;
    border: 1px solid #0087dc;
    background: #005880;
    box-sizing: border-box;
    padding:0 5px;
}
.camera-div ul li{
    text-align: center;
    line-height: 30px;
    width: 100%;
}
.look-mian-cont{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding-left: 188px;
    height: 100%;
    box-sizing: border-box;
}
.look-main-left{
    width:50%;
    height: 100%;
    margin: 0;
    border-right: 1px solid #0d5783;
    box-sizing: border-box;
    padding: 10px 20px;
}
.div-form {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.div-form button {
    height: 29px;
    text-align: center;
    line-height: 22px;
    border: 1px solid #0087dc;
    font-size: 12px;
    color: #fff;
    background: #0087dc;
    margin-left: 0;
    padding: 2px 5px;
    display: inline-block;
}
.div-form p{
    margin-top: 20px;
}
.div-form button:hover{
    background: #0d5783;
}
.div-form button:active{
    background: #2196f7;
}
.current-video{
    min-height: 150px;
    margin-top: 10px;
    border: 1px solid #0d5783;
    margin-bottom: 6px;
}
.look-main-right{
    width:50%;
    height: 100%;
    box-sizing: border-box;
}
.current-camera-name{
    line-height: 25px;
    text-align: center;
    background: #005880;
}
.current-pic-div {
    display: inline-block;
    width: 100%;
    height: 220px;
    overflow: hidden;
    border: 1px solid #0d5783;
    text-align: center;
}
.current-pic-name,.current-video-name{
    text-align: left;
    padding:0 10px;
    line-height: 30px;
    background: #005880;
    display:block;
}
.refresh-btn-active{
    background: url(../img/refresh-btn-active.gif) no-repeat;
    width:33px;
    height:30px;
    float:right!important;
    cursor:pointer;
}
.refresh-btn{
    background: url(../img/refresh-btn.png) no-repeat;
    width:33px;
    height:30px;
    cursor:pointer;
    float:right!important;
}
.pic-info{
    position:absolute;
    top:23px;
    right:4px;
    font-size:12px;
    display:none;
}
.not-uc-info{
    color:red;
    font-size:14px;
    text-align: center;
}
/********************** look-list.html 结束 *******************/


/********************** 摄像机组配置新建  *******************/
.cam-group .info-content{
}
.newly-icon{
    background: url(../img/newly-icon.png) no-repeat 50% 50%/cover;
}
.newly-edit-icon{
    background: url(../img/newly-edit-icon.png) no-repeat 50% 50%/cover;
}
.seek-content .keep-btn i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/newly-edit-icon1.png) no-repeat center;
    margin-bottom: -3px;
    margin-right: 6px;
}
.edit-delete-btn i, .edit-move-btn i{
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 2px;
    margin-bottom: -3px;
}
.edit-delete-btn{
    margin-right: 10px;
}
.edit-delete-btn i{
    background: url(../img/newly-edit-icon5.png) no-repeat center;
}
.edit-move-btn i{
    background: url(../img/newly-edit-icon3.png) no-repeat center;
    margin-left: 3px;
}
.cam-group .info-content .cam-seek{
    width: 100%;
    height: 100%;
    border: 1px solid #026386;
}
.seek-content{
    width: 630px;
    margin: 0 auto;
}
.edit-attr{
    padding: 3px 0;
    font-size: 16px;
}
.edit-attr p{
    line-height: 34px;
}
.edit-attr .edit-input{
    width: 605px;
    height: 32px;
    line-height: 32px;
    padding-left: 21px;
    color: #e2f7ff;
    border: 1px solid #186893;
    background: #0d5783;
}
.member-list{
    margin-top: 18px;
    margin-bottom: 30px;
}
.edit-input, .edit-search-input{
    font-size: 14px;
    font-family: "微软雅黑";
}
.edit-search .edit-search-input{
    width: 225px;
    height: 32px;
    line-height: 32px;
    padding-left: 5px;
    color: #e2f7ff;
    background: #0d5783;
    border: 1px solid #186893;
    display: inline-block;
}
.edit-search .edit-search-btn{
    width: 32px;
    height: 34px;
    color: #fff;
    background: #0d5783 url(../img/newly-edit-icon2.png) no-repeat center;
    border: 1px solid #186893;
    margin-left: 1px;
    display: inline-block;
}
.member-wrap{
    border: 1px solid #186893;
    background-color: #013d59;
}
.member-select{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 320px;
    overflow-y: auto;
    border-bottom: 1px solid #186893;
}
.member-select li, .member-footer{
    line-height: 40px;
    height: 40px;
}
.member-select li:nth-child(odd){
    background-color: #013750;
    border: 1px solid #013750;
}
.member-select li:nth-child(even){
    background-color: #064462;
    border: 1px solid #064462;
}
.member-select li:hover{
    border: 1px solid #03759e;
    -webkit-box-shadow: 0px 0px 15px #066692 inset;
    -moz-box-shadow: 0px 0px 15px #066692 inset;
    box-shadow: 0px 0px 15px #066692 inset;
}
.member-footer{
    background-color: #013d59;
}
.member-wrap .check-label input.check{
    margin-left: 15px;
    margin-right: 8px;
}
.member-select .check-div{
    margin-left: 15px;
    margin-right: 5px;
}
.member-select .check-div, .member-select .lab-div{
    display: inline-block;
}
.keep-btn{
    width: 78px;
    height: 28px;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    background: #054564;
    line-height: 27px;
    cursor: pointer;
    border: 1px solid transparent;
}
.keep-btn:hover{
    border-color: #186893;
}
.member-header .edit-add-btn{
    width: 80px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #0087dc;
    background-color: #005880;
    margin-left: 10px;
}
.member-header .edit-add-btn i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: -4px;
    background: url(../img/newly-edit-icon4.png) no-repeat center;
}
.check-all{
    padding-right: 20px;
}
.move-to{
    margin-right: 19px;
}
.edit-add-btn, .member-footer span{
    cursor: pointer;
}
.member-footer .edit-move-btn{
    cursor: default;
}
.move-to .select{
    display: inline-block;
    height: 24px;
    margin-top: 8px;
    color: #fff;
    line-height: 20px;
}
.move-to .select > span{
    display: inline-block;
    min-width: 89px;
    max-width: 250px;
    height: 22px;
    max-height: 22px;
    padding-left: 10px;
    padding-right: 11px;
    font-size: 13px;
    border: 1px solid #0087dc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #004b6d url(../img/newly-edit-icon6.png) no-repeat right center;
}
.move-to .selection_box {
    max-width: 270px;
    position: absolute;
    top:33px;
    right: -19px;
    padding-bottom: 5px;
    border: 1px solid #0087dc;
    background-color: #005880;
}
.move-to .selection_box > input{
    display: inline-block;
    width: 79%;
    height: 20px;
    padding: 0 5px 0 15px;
    margin: 0 3px;
    color: #fff;
    border:1px solid #0087dc;
    background: #0d5783 url(../img/newly-edit-icon2.png) no-repeat 1px 50%;
    background-size: 12px 12px;
}
.move-to .selection_box ul{
    max-height: 120px;
    overflow-y: auto;
}
.move-to .selection_box ul li{
    min-width: 102px;
    max-width: 243px;
    font-size: 13px;
    line-height: 20px;
    padding-left: 10px;
    word-wrap: break-word;
    cursor: default;
}
.move-to .selection_box ul li:hover{
    background-color: #064462;
}

@media screen and (max-height: 920px){
    .edit-attr p{
        line-height: 28px;
    }
    .edit-attr .edit-input{
        line-height: 28px;
    }
    .member-list{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .member-select{
        height: 315px;
    }
    .member-select li, .member-footer{
        line-height: 35px;
        height: 35px;
    }
}
@media screen and (max-height: 900px){
    .move-to .selection_box {
        top: -159px;
        height: 150px;
    }
}
@media screen and (max-height: 800px){
    .edit-attr p{
        line-height: 24px;
    }
    .edit-attr .edit-input{
        line-height: 24px;
    }
    .member-select{
        height: 240px;
    }
    .member-select li, .member-footer{
        line-height: 30px;
        height: 30px;
    }
    .move-to .select{
        margin-top: 3px;
    }
}
@media screen and (max-height: 730px){
    .member-list{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .member-select{
        height: 170px;
    }
    .member-select li, .member-footer{
        line-height: 28px;
        height: 28px;
    }
}

.addCamera{
    width: 618px;
    height: 268px;
    padding: 15px;
    border: 1px solid #037fad;
    background-color: #0b3147 !important;
}
.addCamera > .dialogHead{
    line-height: 24px;
    height: 24px;
}
.addCamera > .dialogHead .edit-search .edit-search-input{
    line-height: 24px;
    width: 220px;
    height: 24px;
}
.addCamera > .dialogHead .edit-search  .edit-search-btn{
    height: 26px;
    width: 24px;
    line-height: 26px;
}
.addCamera > .dialogBody{
    padding: 15px 0 0 0;
}
.addCamera > .dialogBody > p > span{
    text-align: center;
    display: inline-block;
    width: 59px;
    height: 25px;
    line-height: 25px;
    background-color: #095073;
    border: 1px solid #065c7e;
    cursor: pointer;
}
.addCamera > .dialogBody ul{
    width: 616px;
    height: 185px;
    border: 1px solid #186893;
    margin-bottom: 20px;
}
.addCamera > .dialogBody ul li{
    height: 34px;
    line-height: 34px;
}
.addCamera > .dialogBody > p{
    text-align: right;
}
.addCamera > .dialogBody > p > span:hover, .seek-content .keep-btn:hover, .seek-content .edit-add-btn:hover {
    border-color: #0087dc;
    -webkit-box-shadow: 0 0 15px #042f47 inset;
    -moz-box-shadow: 0 0 15px #042f47 inset;
    box-shadow: 0 0 15px #042f47 inset;
}
/********************** 摄像机组配置新建 end  *******************/

/********************** camera-storage.html  *******************/
.top-0px{
    position: absolute;
    top: 0px;
}
.detail-icon{
    background: url('../img/detail-default.png') no-repeat;
}
.detail-icon{
    width: 23px;
    height:23px;
    display: inline-block;
    margin: 2px 5px;
    cursor: pointer;
}
/********************** camera-storage.html  *******************/
/********************** camera-storage-detail.html  *******************/
.info-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0;
    -webkit-box-shadow: 0px 0px 20px #000 inset;;
    -moz-box-shadow: 0px 0px 20px #000 inset;;
    box-shadow: 0px 0px 20px #000 inset;;
}
.info-header{
    height: 54px;
    padding-top: 9px;
}
.info-title{
    width: 250px;
    height: 40px;
    background: url(../img/right-title-bg.png) no-repeat;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    padding-left: 45px;
}
.cluster-info-title{
    width: 305px;
    background: url(../img/right-title-bg-long.png) no-repeat;
}
.info-title i{
    display: inline-block;
    width:23px;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 6px;
}
.camerastroage-icon{
    background: url(../img/right-storage-icon1.png) no-repeat;
}
.clusterstorage-icon{
    background: url(../img/right-storage-title1.png) no-repeat;
}
.info-content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 20px 20px 20px;
}
.info-content .info-left{
    width: 57%;
    height: 100%;
    background-color: rgba(2, 49, 71, 0.6);
    overflow: hidden;
}
.info-content .info-right{
    width: 40%;
    height: 100%;
    margin-left: 1%;
}
.file-manage-wrap{
    height: 48%;
    background-color: rgba(2, 49, 71, 0.6);
    overflow: auto;
}
.file-detail{
    margin-top: 4%;
}
.info-left>.storage-title>span{
    color: green;;
}
.storage-title{
    line-height: 40px;
    background-color: #013e59;
    border-bottom: 1px solid #0d5783;
    padding-left: 20px;
    -webkit-box-shadow: 0 0 20px #042032 inset, 0px 1px 15px #084f6d;
    -moz-box-shadow: 0 0 20px #042032 inset, 0px 1px 15px #084f6d;
    box-shadow: 0 0 20px #042032 inset, 0px 1px 15px #084f6d;
    position: relative;
    z-index: 1;
}
.storage-title i{
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -5px;
}
.storage-title .left-icon{
    background: url(../img/right-storage-icon2.png) no-repeat center;
}
.storage-title .cluster-icon{
    background: url(../img/right-storage-icon7.png) no-repeat center;
}
.storage-title .file-icon{
    background: url(../img/storage-icon2.png) no-repeat center;
}
.storage-title .manage-icon{
    background: url(../img/storage-icon3.png) no-repeat center;
}

.table-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    padding: 74px 30px 30px;
}
.device-manage .file-manage-wrap{
    height: 100%;
}
.device-manage .table-container{
    top: -40px;
    padding:145px 30px 0px;
}
.device-manage .manage-container{
    height: 100%;
    min-height: 320px;
    padding: 26px 48px 0;
}


.file-list{
    width: 100%;
    margin-bottom: 10px;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #0d5783;
}
.file-list li{
    border-bottom: 1px solid #0d5783;
    border-left: 1px solid #0d5783;
    border-right: 1px solid #0d5783;
}
.file-list li:last-child{
    border-top: 1px solid #0d5783;
    margin-top: 10px;
}
.file-list .file-list-header, .file-list .file-list-footer{
    background-color: #02364e;
}
.file-list li span{
    display: inline-block;
    width: 33.33%;
}
.list-line:after{
    content: "";
    display: block;
    width: 2px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: #015880;/*不兼容的时候的底色*/
    background: -webkit-radial-gradient(#023952 16%,#015880 69%,#023952 100%); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(#023952 16%,#015880 69%,#023952 100%); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(#023952 16%,#015880 69%,#023952 100%); /* Firefox 3.6 - 15 */
    background: radial-gradient(#023952 16%,#015880 69%,#023952 100%);; /* 标准的语法（必须放在最后） */
}

.manage-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 18px 10% 10%;
}
.select-date{
    line-height: 27px;
    padding-bottom: 10px;
}
.select-date input[type='radio']{
    vertical-align: top;
    height: 25px;
    background-color: #20aeeb;
    margin-top: 2px;
    margin-right: 5px;
}
.select-date input.num-input{
    width: 45px;
    height: 25px;
    padding-left:21px;
}
.select-date>.attr-data{
    width: 40%;
    min-width: 150px;
}
.select-date input, .sub-btn span{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    color: #e2f7ff;
    border:1px solid #217eb0;
    background-color: #064360;
}
.date-input{
    padding-left: 10px;
    width: 156px;
}
.select-date .date_icon{
    width:45px;
    height: 45px;
    position: absolute;
    top: -8px;
    right: -13px;
}
.sub-btn{
    text-align: right;
}
.sub-btn a{
    float: left;
    color: #00afff;
    line-height: 25px;
    padding-left: 18px;
    text-decoration: underline;
}
.sub-btn span{
    width: 60px;
    text-align: center;
    padding: 0 5px;
    cursor:pointer;
    border-color: #065b7d;
}
.sub-btn span:hover{
    border-color: #217eb0;
    -webkit-box-shadow: 0 0 10px #042f47 inset;
    -moz-box-shadow: 0 0 10px #042f47 inset;
    box-shadow: 0 0 10px #042f47 inset;
}
.sub-btn span i{
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-bottom: -4px;
}
.sub-btn .cancel-btn{
    background: url(../img/right-storage-icon4.png) no-repeat 50% 50%/cover;
}
.sub-btn .confirm-btn{
    background: url(../img/right-storage-icon6.png) no-repeat 50% 50%/cover;
}

@media screen and (max-width: 1600px) {
    .info-table ul{line-height: 40px;}
    .list-line:after{height: 40px;}
    .table-container{padding: 62px 20px 0px;}
    .manage-container{
        padding: 12px 12px 10px;
    }
    .date-input{
        width: 129px;
    }
    .device-manage .manage-container{
        padding-left: 6%;
        padding-right: 6%;
    }
}
@media screen and (max-width: 1300px) {
    .table-container{padding: 50px 20px 0px;}
    .device-manage .manage-container{
        padding-left: 4%;
        padding-right: 4%;
    }
    .date-input{
        padding-left: 0;
        width: 120px;
    }
    .select-date .date_icon{
        width: 35px;
        height: 35px;
        top: -4px;
        right: -10px;
        display: none;
    }
}
@media screen and (max-width: 1140px) {
    .info-table ul{
        font-size: 14px;
    }
    .manage-container{
        font-size: 14px;
    }
}
@media screen and (max-width: 1050px) {
    .manage-container .date-input{
        width: 115px;
    }
}

@media screen and (max-height: 840px) {
    .select-date{
        line-height: 25px;
        padding-bottom: 5px;
    }
}
@media screen and (max-height: 740px) {
    .manage-container{
        margin-bottom: 10px;
    }
    .table-container{
        padding-top: 40px;
    }
    .device-manage .table-container{
        top: -40px;
        padding: 120px 25px 0px;
    }
    .storage-title{
        line-height: 30px;
    }
}
@media screen and (max-height: 700px) {
    .info-content{
        padding-top: 55px;
    }
    .file-manage-wrap{
        height: 42%;
    }
    .file-detail{
        height: 56%;
        margin-top: 2%;
    }
    .info-table ul{
        line-height: 30px;
    }
    .select-date{
        line-height: 25px;
        padding-bottom: 5px;
    }
}

/*弹出框*/
.delFile{
    border:1px solid #035B7F;
}
.delFile .dialogBody{
    padding: 49px;
    background-color: #0b3147;
    -webkit-box-shadow: 0 0 15px #08597f inset;
    -moz-box-shadow: 0 0 15px #08597f inset;
    box-shadow: 0 0 15px #08597f inset;
}
.delFile h5{
    font-size: 25px;
    font-weight: normal;
    line-height: 52px;
    padding-bottom: 19px;
}
.prompt-message p{
    font-size: 14px;
    line-height: 24px;
    color: #ee1610;
}
.delFile span{
    color: #e2f7ff;
}
.delFile .dialogBody > p{
    padding-top: 34px;
    padding-right: 23px;
    text-align: right;
}
.delFile .dialogBody > p > span{
    width: 59px;
    height: 25px;
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #065c7e;
    background-color: #085377;
    cursor: pointer;
}
.delFile .dialogBody > p > span:hover{
    background-color: #005880;
    border-color: #0087dc;
    -webkit-box-shadow: 0 0 5px #042f47 inset;
    -moz-box-shadow: 0 0 5px #042f47 inset;
    box-shadow: 0 0 5px #042f47 inset;
}
/********************** camera-storage-detail.html 结束 *******************/
/******bugStart*******/
.date-icon{
    background: url(../img/inputDate.png) center center no-repeat !important;
}
/******bugEnd*******/

