html {
  _padding-top: 100px;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  list-style: none;
  margin: 0;
  padding: 0;
  background: url(../img/denglu.jpg);
  background-size: cover;
  position: relative;
}
body .logo {
  width: 20%;
  height: 0;
  padding-bottom: 10%;
  margin-left: 40%;
  margin-top: 20%;
  position: relative;
}
body .logo .logo_in {
	height:60px;
  width: 100%;
  color: #fff;
  font-size: 38px;
  text-align: center;
  line-height: 60px;
}
body .logo .logo_in img {
  width:60px;
  height:60px;
  margin-right: 20px;
  margin-bottom: -20px;
}
body .logo  .logoo .img_1{
  width: 120px;
  height: 120px;
  position: absolute;
  top: -180%;
  left: -190%;
}
body .logo .bank {
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-top: 38px;
}
body .logo .bank i {
  display: inline-block;
  width: 16px;
  height: 16px;
}
body .logo .bank input {
  display: inline-block;
  height: 100%;
  font-size: 16px;
  background: none;
  border: none;
  color: #fff;
  margin-left: 10px;
}
body .logo .bank input {
  width: 80%;
}
body .logo .bank input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 60px #a0a0a0 inset;
  border-radius: 3px;
}
body .logo .account i {
  background: url(../img/账号.png) no-repeat;
}
body .logo .code i {
  background: url(../img/密码.png) no-repeat;
}
body .logo .ring_up {
  width: 100%;
  margin-top: 32px;
}
body .logo .ring_up button {
  width: 100%;
  height: 100%;
  background: #025d87;
  border: none;
  color: #fff;
  font-size: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}
body .logo .ring_up button:focus{
  border: 1px dashed #025d87;
  background-color: #384ab9;
}
body .logo .ring_up button:hover{
  background-color: #006c68;
}
body .logo .error {
  width: 245px;
  height: 108px;
  background: url(../img/baocuo.png) no-repeat;
  position: absolute;
  top: 80px;
  right: -245px;
  color: #fff;
  font-size: 12px;
  display: none;
}
body .logo .error ul {
  margin-top: 8px;
  margin-left: 20px;
}
body .logo .error ul li {
  margin-bottom: 13px;
}
body .city {
  position: absolute;
  top: 28px;
  left: 38px;
  color: #fff;
  font-size: 18px;
}
body .city p {
  display: inline-block;
}
body .city .sel {
  display: inline-block;
}
