.first {
  width: 95%;
  height: 508px;
  margin: 0 auto;
}
.first .one {
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #1b5a7a;
  line-height: 52px;
}
.first .one .tp1 {
  height: 27px;
  text-align: center;
  margin-left: 10px;
  font-weight: bold;
}
.first .one .tp1 i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: -6px;
  margin-right: 10px;
}
.first .one .tp2 {
  width: 23px;
  height: 27px;
  text-align: center;
  margin-right: 10px;
}
.first .one .tp2 i {
  display: inline-block;
  width: 17px;
  height: 20px;
  background: url("../img/刷新.png");
  margin-bottom: -6px;
}
.first .two {
  width: 100%;
  height: 450px;
  line-height: 36px;
  box-sizing: border-box;
}
.first .two-div .title-div{
  width: 96%;

}
.first .two .title-1 {
  margin-left: 30px;
}
.first .two .title-1 li {
  margin-top: 18px;
}
.first .two .title-1 li span{
  text-align: right;
  display: inline-block;
  margin-right: 10px;
}
.first .two .title-1 li div span{
}
.first .two .title-2 {
  margin-right: 10px;
}
.first .two .title-2 li {
  margin-top: 18px;
  text-align: right;
}
.first article {
  border: 1px solid red;
  width: 49%;
  height: 100%;
  border: 2px solid #1b5a7a;
  border-radius: 10px;
  background-color: rgba(2, 49, 71, 0.6);
}
.first article .tp1 i {
  background: url("../img/系统.png") no-repeat;
}
.first aside {
  width: 49%;
  height: 100%;
  border: 2px solid #1b5a7a;
  border-radius: 10px;
  background-color: rgba(2, 49, 71, 0.6);
}
.first aside .tp1 i {
  background: url("../img/设备.png") no-repeat;
}
footer {
  border: 2px solid #1b5a7a;
  width: 95%;
  height: 280px;
  margin: 20px auto;
  background-color: rgba(2, 49, 71, 0.6);
  border-radius: 10px;
}
footer .one {
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #1b5a7a;
}
footer .one .tp1 {
  height: 27px;
  text-align: center;
  font-weight: bold;
  margin-top: 11px;
  margin-left: 10px;
}
footer .one .tp1 i {
  display: inline-block;
  width: 21px;
  height: 24px;
  background: url("../img/使用.png");
  margin-left: 10px;
  margin-bottom: -6px;
  margin-right: 10px;
}
footer .one .tp2 {
  width: 23px;
  height: 27px;
  text-align: center;
  margin-right: 10px;
  line-height:45px;
}
footer .one .tp2 i {
  display: inline-block;
  width: 17px;
  height: 20px;
  background: url("../img/刷新.png");
  margin-bottom: -6px;
}
footer .time{
	margin-left: 93%;
	margin-top: 20px;
}
footer .time span{
	margin-right: 20px;
}
footer .two {
  height: 200px;
  margin-left: 30px;
  margin-right: 10px;
  line-height: 35px;
}
footer .two .two-ul-div{
  width: 50%;
}
footer .two .two-ul-div .title-ul-div span{
  margin-right: 60px;
}
footer .two .title-2 li span {
  margin-right: 20px;

}
footer .two .title-2{
  text-align: right;
}
