<article class="left-div no-borser position-rel">
	<div class="cont-1 cont-top">
		<input ng-model="cata" class="fr" type="text" id="log_name" placeholder="请输入相关文字查询" ng-keyup="keyDown($event)">
		<button class="suosou"  ng-click="getSearch()">搜索</button>
	</div>
	<div class="cont-2 cont-bottom">
		<div ui-grid="gridOptions1" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize ui-grid-move-columns class="grid" style="width:100%;height:100%;"></div>
	</div>
</article>