<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/head.css" />
		<link rel="stylesheet" href="css/yibiao.css" />
		<script src="js/angular.min.js"></script>
		<script src="js/yibiao.js"></script>
		<script src="js/camera.js"></script>
		<script src="js/common.js"></script>
		
	</head>

	<body ng-app="myApp">
		<div1></div1>
		<div2></div2>
		<div3></div3>
	</body>
	<script id="cont_center" type="text/ng-template">
		<div class="first clearfix" ng-controller="sysStatCtrl">
			<article class="fl">
				<div class="one">
					<div class="tp1 fl"><i></i>系统概述</div>
					<div class="tp2 fr"><i></i></div>
				</div>
				<div class="two">
<!-- 				
					<ul class="title-1 fl">
						<li  ng-repeat="kv in (model.sysconf2)">
							<span ng-bind="kv.key"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<span ng-bind="kv.val"></span>
						</li>
					</ul>
 -->
					<ul class="title-1 fl">
						<li>系统名称</li>
						<li>IP地址</li>
						<li>MAC地址</li>
						<li>正常运行时间</li>
						<li>型号</li>
						<li>序号</li>
						<li>版本</li>
					</ul>
					<ul class="title-2 fr" ng-repeat="systemSketch in systemSketchs">
						<li>{{systemSketch.name}}</li>
						<li>{{systemSketch.controller_ip}}</li>
						<li>{{systemSketch.controller_mac}}</li>
						<li>{{systemSketch.up_to_time}}</li>
						<li>{{systemSketch.model}}</li>
						<li>{{systemSketch.id}}</li>
						<li>{{systemSketch.version}}</li>
					</ul>
				</div>
			</article>
			<aside class="fr">
				<div class="one">
					<div class="tp1 fl"><i></i>系统设备及用户概述</div>
					<div class="tp2 fr"><i></i></div>
				</div>
				<div class="two two-div">
					<ul class="title-1 title-div fl">
						<li ng-repeat="t in (model.sysconf | orderBy : 'order')">
							<span ng-bind="t.name"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="title-1-div fr">
								<span ng-bind="t.total"></span>
							</div>
						</li>
					</ul>
				</div>
			</aside>
		</div>
	</script>

	<script id="cont" type="text/ng-template">
		<footer ng-controller="statCtrl">
			<div class="one clearfix">
				<div class="tp1 fl"><i></i>任务使用情况摘要</div>
				<div class="tp2 fr"><i></i></div>
			</div>
			<!--<div class="time">-->
				<!--<span>2hr</span>-->
				<!--<span>1hr</span>-->
			<!--</div>-->
			<div class="two">
				<ul class="title-1 two-ul-div fl">
					<li ng-repeat="t in (model.tasks | orderBy : 'order')">
						<span ng-bind="t.name"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div class="title-ul-div fr">
							<span ng-bind="t.total"></span>
						</div>

					</li>
				</ul>
				<ul class="title-2 fr">
					<li><span></span><span></span></li>
					<li><span></span><span></span></li>
					<li><span></span><span></span></li>
					<li><span></span><span></span></li>
				</ul>

			</div>
		</footer>
	</script>

</html>