<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="style/reset.css" />
		<link rel="stylesheet" href="style/ring_up.css" />
		<script src="app/js/angular.min.js"></script>
		<script src="app/js/angular-route.min.js"></script>
		<script src="app/js/jquery-3.1.1.min.js"></script>
		<script src="app/js/jquery-form.js"></script>
		<script src="app/js/common.js"></script>
		<script src="app/js/ring_up.js"></script>
	</head>
	<body ng-app="myApp">
		<div1></div1>
	</body>
	<script id="enter" type="text/ng-template">
		<div class="logo" ng-controller="loginCtrl">
			<div class="logo_in">

			</div>
			<div class="logoo">
				<img class="img_1" src="img/logo-large.png" alt="">
			</div>
			<div class="bank account">
				<i></i>
				<input type="text" id="user_name" name=“user_name” placeholder="账号" autocomplete="off">
			</div>
			<div class="bank code">
				<i></i>
				<input type="password" id="u_passwd" name="u_passwd" placeholder="密码" autocomplete="off"
				ng-keydown="keyDown($event)">
			</div>
			<div class="ring_up">
				<button ng-click="login()" ng-keydown="keyDown($event)">登录</button>
			</div>
			<div class="error">
				<ul>
					<li>1.账号或密码错误</li>
					<li>2.请检查账号拼写，是否输入有误</li>
					<li>3.请确认账户密码是否输入有误</li>
					<li>4.是否为区分字母大小写</li>
				</ul>
			</div>
		</div>
		<!--<div class="city" ng-controller="cityListCtrl">-->
			<!--<p>目前所在城市：</p>-->
			<!--<div class="sel">-->
			   <!--<span>深圳</span>-->
			   <!--<select style="width:20px;margin-left: 5px;height:18px;background: none;border:none;color:white;" ng-init="selectedName = names[0]" ng-model="selectedName" ng-options="x for x in names"></select>-->
			<!--</div>-->
		<!--</div>-->
	</script>
</html>