<article class="left-div no-borser position-rel">
	<i ng-bind="edit_status" class="i-title top-26px">新增</i>
	<div class="cont cont-bottom border no-position bg-color">
		<div class="put">
			<p class="every-attr">
				<label class="attr-label">任务名称</label> 
				<input class="task-name div-in-input attr-input" autocomplete="off" ng-model="model.task_name" id="t_name" type="text">
			</p>
			<div class="in in-1 every-attr" ng-controller="camappGroupList">
				<label class="attr-label">摄像机组</label>
				<select class="in-1-select attr-input" style="" id="group_id" ng-model="model.group_id">
					<option ng-repeat="group in camappGroups" value="{{group.id}}">{{group.name}}</option>
				</select>
			</div>
			<div class="every-attr">
				<label class="attr-label">开始时间</label>
				<div class="put-2 attr-data">
					<input autocomplete="off" id="start_time" def-laydate placeholder="" class="laydate-icon input-font attr-input attr-input-data" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" ng-model="model.startTime">
					<img class="daytime-icon icon-red data-icon" src="img/daytime.png" alt="" onclick="start_time.click();"/>
				</div>
			</div>
			<div class="every-attr">
				<label class="attr-label">结束时间</label>
				<div class="put-3 attr-data">
					<input autocomplete="off" id="stop_time" placeholder="" class="laydate-icon input-font attr-input attr-input-data" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" ng-model="model.endTime">
					<img class="daytime-icon icon-red data-icon" src="img/daytime.png" alt="" onclick="stop_time.click();"/>
				</div>
			</div>
		</div>
		<div class="seek">
			<div class="seek-1 clearfix">
				<div class="seek-1-2">
					<div class="in in-5 search btn-group">
						<button class="actBtn btn" type="button" ng-click="updateTimeSearchTask(model)">添加/更新</button>
						<button class="actBtn btn" type="button" ng-click="startTimeSearch()">开始检索</button>
						<span id="taskStatus" />
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
