<article class="left-div no-borser bg-color">
    <div class="info-container position-rel border">
        <div class="info-header">
            <div class="info-title">
                <i class="clusterstorage-icon"></i>
                集群数据详情
            </div>
        </div>
        <div class="info-content">
            <div class="info-left fl border position-rel high-light-shadow">
                <p class="storage-title">
                    <i class="cluster-icon"></i>
                    存储详情
                </p>
                <div class="pie-container1" style="height:90%; width: 70%; position: absolute; bottom:2%; right: 0"></div>
                <div class="pie-container2" style="height:45%; width: 28%; position: absolute; top:10.5%; left: 0"></div>
            </div>
            <div class="info-right fl">
                <div class="file-manage-wrap border position-rel  high-light-shadow">
                    <p class="storage-title">
                        <i class="file-icon"></i>
                        文件存储详情
                    </p>
                    <div class="table-container">
                        <div class="info-table">
                            <ul class="file-list">
                                <li><span>目标照片</span><span>{{cluster_stat.file_face}}</span><span>{{cluster_stat.file_size_face}}%</span></li>
                                <li><span>全景照片</span><span>{{cluster_stat.file_scene}}</span><span>{{cluster_stat.file_size_scene}}%</span></li>
                                <li><span>视频片段</span><span>{{cluster_stat.file_video}}</span><span>{{cluster_stat.file_size_video}}%</span></li>
                                <li class="file-list-header"><span>文件总数</span><span>{{cluster_stat.file_total}}</span><span></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="file-manage-wrap file-detail border position-rel  high-light-shadow">
                    <p class="storage-title">
                        <i class="manage-icon"></i>
                        文件存储管理
                    </p>
                    <div class="table-container">
                        <div class="manage-container border">
                            <p style="padding-bottom: 10px;">请选择所要执行的操作</p>
                            <div class="select-date">
                                <label><input type="radio" name="date" class="all-file"><span>全部删除</span></label>
                            </div>
                            <div class="select-date">
                                <label>
                                    <input type="radio" name="date" class="n-file">只保留最近 <input type="number" value="7" class="num-input"> 天文件存储信息
                                </label>
                            </div>
                            <div class="select-date">
                                <label>
                                    <input type="radio" name="date" class="time-file" checked><span>选择删除</span>
                                    <div style="display: inline-block">
                                        <div class="attr-data">
                                            <input autocomplete="off"  class="date-input" id="file_retrieval_start" placeholder="请选择日期" value="{{model.startTime}}"
                                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss',max:laydate.now()})">
                                            <img class="date_icon" src="img/daytime.png" onclick="file_retrieval_start.click()">
                                        </div>
                                        -
                                        <div class="attr-data">
                                            <input autocomplete="off"  class="date-input" id="file_retrieval_end" placeholder="请选择日期" value="{{model.endTime}}"
                                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss',max:laydate.now()})">
                                            <img class="date_icon" src="img/daytime.png" onclick="file_retrieval_end.click()">
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <p class="sub-btn">
                                <a ui-sref="setting.clusterstorage.list">查看摄像机统计数据</a>
                                <span ng-click="delFile()"><i class="confirm-btn"></i>&nbsp;执行</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="delFile" dialog="false">
            <div class="dialogBody">
                <h5>确定执行以下操作？</h5>
                <div class="prompt-message">
                    <p>所选时间段</p>
                    <p>{{model.message}}</p>
                </div>
                <p class="">
                    <span ng-click="confirmDel()"> 确认</span>
                    <span dialog-toggle> 取消</span>
                </p>
            </div>
        </div>
    </div>


</article>