<article class="left-div no-borser bg-color">
    <div class="info-container position-rel border">
        <div class="info-header">
            <div class="info-title cluster-info-title">
                <i class="camerastroage-icon"></i>
                集群中摄像机数据详情
            </div>
        </div>
        <div class="info-content">
            <div class="info-left fl border position-rel high-light-shadow">
                <p class="storage-title">
                    <i class="left-icon"></i>
                    <span>{{device_stat.camera}}</span>
                </p>
                <div class="pie-container1" style="height:70%; width: 48%; position: absolute; top:15%; left: 0"></div>
                <div class="pie-container2" style="height:70%; width: 48%; position: absolute; top:15%; right: 0"></div>
            </div>
            <div class="info-right fl device-manage">
                <div class="file-manage-wrap border position-rel  high-light-shadow">
                    <p class="storage-title">
                        <i class="manage-icon"></i>
                        文件存储管理
                    </p>
                    <div class="table-container">
                        <div class="manage-container border high-light-shadow">
                            <p style="padding-bottom: 21px">请选择所要执行的操作</p>
                            <div class="select-date">
                                <label><input type="radio" name="date" class="all-file"><span>全部删除</span></label>
                            </div>
                            <div class="select-date">
                                <label>
                                    <input type="radio" name="date" class="n-file">只保留最近 <input type="number" value="7" class="num-input"> 天文件存储信息
                                </label>
                            </div>
                            <div class="select-date">
                                <label>
                                    <input type="radio" name="date" class="time-file" checked><span>选择删除</span>
                                    <div style="display: inline-block">
                                        <div class="attr-data">
                                            <input autocomplete="off"  class="date-input" id="file_retrieval_start" placeholder="请选择日期" value="{{model.startTime}}"
                                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss',max:laydate.now()})">
                                            <img class="date_icon" src="img/daytime.png" onclick="file_retrieval_start.click()">
                                        </div>
                                        -
                                        <div class="attr-data">
                                            <input autocomplete="off"  class="date-input" id="file_retrieval_end" placeholder="请选择日期" value="{{model.endTime}}"
                                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss',max:laydate.now()})">
                                            <img class="date_icon" src="img/daytime.png" onclick="file_retrieval_end.click()">
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <p class="sub-btn">
                                <a ui-sref="setting.clusterstorage.list">返回摄像机列表</a>
                                <span ng-click="delFile()"><i class="confirm-btn"></i>&nbsp;执行</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="delFile" dialog="false">
            <div class="dialogBody">
                <h5>确定执行以下操作？</h5>
                <div class="prompt-message">
                    <p>所选时间段</p>
                    <p>{{model.message}}</p>
                </div>
                <p class="">
                    <span ng-click="confirmDel()"> 确认</span>
                    <span dialog-toggle> 取消</span>
                </p>
            </div>
        </div>
    </div>


</article>