<article class="left-div no-borser position-rel">
    <!--<div class="grid-title">  v2.0可以直接显示
        <div class="grid-title-item">
            <i class="mon-icon"></i>
            <span>布控库列表</span>
        </div>
    </div>
    <div class="grid-wrap cont-bottom">
        <div ui-grid="monitorManageOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize style="height: 100%;"></div>
    </div>-->
    <i class="i-title top-26px">布控库详情</i>
    <div style="height: 100%;border: 1px solid #1B5A7A" class="monitorManageDetail bg-color" ng-click="hideEl()">
        <div class="nav">
            <ul>
                <li><i></i>布控库ID</li>
                <li><i></i>名<b></b>称</li>
                <li><i></i>创建时间</li>
                <li><i></i>任务说明</li>
                <li><i></i>目标数量</li>
                <li><i></i>当前关联任务</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li title="{{data.src_id}}"><span>:</span>{{data.src_id}}</li>
                <li title="{{data.extlib_name}}" ng-show="edit_extlib_name" ng-click="edit_extlib_name=false;$event.stopPropagation()"><span>:</span>{{data.extlib_name}}</li>
                <li title="{{data.extlib_name}}" ng-show="!edit_extlib_name"><span>:</span><input class="monitor-input setWidth" type="text" ng-model="data.extlib_name" ng-change="editExtlib()" ng-click="$event.stopPropagation()"/></li>
                <li title="{{data.extlib_create_time}}"><span>:</span>{{data.extlib_create_time}}</li>
                <li title="{{data.extlib_desc}}" ng-show="edit_extlib_desc" ng-click="edit_extlib_desc=false;$event.stopPropagation()"><span>:</span>{{data.extlib_desc}}</li>
                <li title="{{data.extlib_desc}}" ng-show="!edit_extlib_desc"><span>:</span><input class="monitor-input setWidth" type="text" ng-model="data.extlib_desc" ng-change="editExtlib()" ng-click="$event.stopPropagation()"/></li>
                <li><span>:</span>当前目标共有&nbsp;<b  style="color:red;">{{blackCount}}</b>&nbsp;人次,其中&nbsp;<b  style="color:red;">{{percent}}</b>&nbsp;目标有身份信息</li>
                <li title="{{t_name}}">
                    <span>:</span><a class="jump" href="#/app/monitor/{{task_id}}/view">{{t_name}}</a>
                    <button ng-show="task_id!=''" style="border:0;background:transparent;" ng-click="deleteTask(task_id)"><i class="delete-btn-img">×</i></button>
                </li>
            </ul>
        </div>
    </div>
</article>